<br><br><br><br><br>
<nav class="sidebar">
  <a routerLink="/company.component">Company</a> <br>
  <a routerLink="/addemployee.component">Employee</a> <br>
  <a routerLink="/department.component">Add department</a> <br>
  <a routerLink="/pickuppoint.component">Add pickup point</a> <br>
  <a routerLink="/statemaster.component">State Master</a> <br>
  <a routerLink="/designationmaster.component">Designation Master</a> <br>
  <a routerLink="/workmode.component">Work Mode</a> <br>
  <a routerLink="/reportingmaster.component">Reporting Master</a> <br>

   <a routerLink="/employmenttypemaster.component">Employment Type Master</a> <br>

   <a routerLink="/commitiontype.component">Commission Type Master</a> <br>

</nav>
