
<div class="container mt-4">

  <h2>Add New Company</h2>

  <form #companyForm="ngForm">

    <!-- Company Basic Information -->
    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Company Name</label>
        <input class="form-control" [(ngModel)]="addCompany.companyName" name="companyName">
      </div>

      <div class="col-md-6 mt-3">
        <label>Company Type</label>
        <input class="form-control" [(ngModel)]="addCompany.companyType" name="companyType">
      </div>
    </div>

    <!-- Contact Details -->
    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Email ID</label>
        <input class="form-control" [(ngModel)]="addCompany.emailId" name="emailId">
      </div>

      <div class="col-md-6 mt-3">
        <label>Mobile Number</label>
        <input class="form-control" [(ngModel)]="addCompany.mobileNumber" name="mobileNumber">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="addCompany.companyPassword" name="companyPassword">
      </div>

      <div class="col-md-6 mt-3">
        <label>Confirm Password</label>
        <input type="password" class="form-control" [(ngModel)]="addCompany.confirmCompanyPassword" name="confirmCompanyPassword">
      </div>
    </div>

    <!-- Contact Person -->
    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Contact Person Name</label>
        <input class="form-control" [(ngModel)]="addCompany.contactPersonName" name="contactPersonName">
      </div>

      <div class="col-md-6 mt-3">
        <label>Designation</label>
        <input class="form-control" [(ngModel)]="addCompany.contactPersonDesignation" name="contactPersonDesignation">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Contact Person Mobile</label>
        <input class="form-control" [(ngModel)]="addCompany.contactPersonMobileNumber" name="contactPersonMobileNumber">
      </div>

      <div class="col-md-6 mt-3">
        <label>Status</label>
        <input class="form-control" [(ngModel)]="addCompany.status" name="status">
      </div>
    </div>

    <!-- Company Address -->
    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Registered Address</label>
        <input class="form-control" [(ngModel)]="addCompany.companyRegisteredAddress" name="companyRegisteredAddress">
      </div>

      <div class="col-md-6 mt-3">
        <label>Country</label>
        <input class="form-control" [(ngModel)]="addCompany.companyCountry" name="companyCountry">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-3">
        <label>State</label>
        <input class="form-control" [(ngModel)]="addCompany.companyState" name="companyState">
      </div>

      <div class="col-md-6 mt-3">
        <label>City</label>
        <input class="form-control" [(ngModel)]="addCompany.companyCity" name="companyCity">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Pincode</label>
        <input class="form-control" [(ngModel)]="addCompany.companyPincode" name="companyPincode">
      </div>

      <div class="col-md-6 mt-3">
        <label>GST Number</label>
        <input class="form-control" [(ngModel)]="addCompany.gstNumber" name="gstNumber">
      </div>
    </div>

    <!-- Identity Document -->
    <div class="row">
      <div class="col-md-6 mt-3">
        <label>Identity Document Type</label>
        <input class="form-control" [(ngModel)]="addCompany.companyIdentityDocument" name="companyIdentityDocument">
      </div>

      <div class="col-md-6 mt-3">
        <label>ID Number</label>
        <input class="form-control" [(ngModel)]="addCompany.companyIdNumber" name="companyIdNumber">
      </div>
    </div>

    <!-- PDF Upload -->
    <div class="mt-4">
      <label>Upload Company Document (PDF)</label>
      <input type="file" accept="application/pdf" class="form-control" (change)="onPdfSelected($event)">
    </div>

    <!-- Company Images -->
    <div class="mt-4">
      <label>Upload Company Images</label>
      <input type="file" multiple accept="image/*" class="form-control" (change)="onImagesSelected($event)">
    </div>

    <!-- Submit -->
    <button class="btn btn-primary mt-4" (click)="saveEmployee(companyForm)">
      Save Company
    </button>

  </form>

  <p class="mt-3">{{ message }}</p>

 <h2 class="title">Company List</h2>

  <table class="styled-table">
  <thead>
    <tr>
      <th> ID </th>
      <th> Company Name </th>
      <th> Email </th>
      <th> Mobile </th>
      <th> Country </th>
      <th> State </th>
      
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of company">
      <td>{{ c.id }}</td>
      <td>{{ c.companyName }}</td>
      <td>{{ c.emailId }}</td>
      <td>{{ c.contactPersonMobileNumber }}</td>
      <td>{{ c.companyCountry }}</td>
      <td>{{ c.companyState }}</td>
      <td>{{ c.companyCity }}</td>
      <td><button> View</button></td>
      <td><button> Edit</button></td>
      
    </tr>
  </tbody>
</table>

</div>

