<app-vendorheader></app-vendorheader>

<div class="container pt-5" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-lg-6">
            <div class="paddingtop">
                <form [formGroup]="formsize" (ngSubmit)="onSubmit()" style="width: 85%;">
                    <div class="row"  style="display: none;">
                        <div class="">
                            <div class="form-group">
                                <label>Registered Mobile Number</label><br>
                                <input type="tel" formControlName="mobilenumber" [value]="userInfo?.mobilenumber" class="inp"> <br><br>
                            </div>
                        </div>

                        <div class="">
                            <div class="form-group">
                                <label>Name</label><br>
                                <input type="text" formControlName="vendorname" [value]="userInfo?.vendorname" class="inp"> <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" style="display: none;">
                            <div class="form-group">
                                <label>User Id</label><br>
                                <input type="text" formControlName="uid" [value]="userInfo?.uid" class="inp"> <br><br>
                            </div>
                        </div>
                        <div class="" style="display: none;">

                            <div class="form-group">
                                <label>Role Id</label><br>
                                <input type="text" formControlName="roleid" [value]="userInfo?.roleid" class="inp"> <br><br>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group">
                                <label>Request type</label><br>
                                <select formControlName="requestType" id="Request_type" class="form-select">
                                    <option value="">Select Type</option>
                                    <option value="newsize">Request For Size</option>
                                    <option value="color">Request For Color</option>
                                </select><br><br>
                                <label>Enter Color/Size</label><br>
                                <input type="text" formControlName="requestValue" class="inp"> <br><br>
                            </div>
                        </div>
                    </div>
                 
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <div class="form-group">
                                <input type="submit" value="Request Custom Size" class="btn">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div style="display: flex; justify-content: center;">
                <table>
                    <tr>
                        <th>All Sizes</th>
                    </tr>
                    <tr style="border: 1px solid red;" *ngFor="let item of sizes; let i = index">
                        <td>{{item.size}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <app-vendorfooter></app-vendorfooter>
</div>
