.back{
    background: #c51724;
    padding: 7px 20px;
    z-index: 99999999999999;
}
.roww{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}
.logo{
    width: 110px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    padding: 10px;
  }
  .items-container {
    background-color: #c51724;
    padding: 15px;
    position: absolute;
    top: 55px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99999;
  }
  .items-container ul {
    list-style: none;
    padding: 0;
  }
  ul{
    display: inline;
}
ul li{
    list-style: none;
    padding: 20px 10px;
}
  
  .items-container li {
    margin-bottom: 5px;
  }
  
  .items-container li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding-left: 7px;
  }
  .toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
  }
  
  .items-container li a img {
    margin-right: 10px;
  }
  
@media only screen and (max-width: 600px) {   
    .back{
      background: #c51724;
      padding: 10px 10px;
  }
}