<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

<div class="container pt-5 pbbb">
    <div class="row">
        <div class="col-lg-6">
            <div class="paddingtop">
                <h3> Adding Bank Name</h3>
                <form [formGroup]="formsize" (ngSubmit)="onSubmit()">
                    <label> Bank Name </label>
                    <input type="text" formControlName="bankname" class="inp"> <br><br>
                    <input type="submit" [disabled]="!formsize.valid" value="Add Bank Name" class="btn">
                </form>
            </div>
        </div>


        <div class="col-lg-6">
            <div style="display: flex; justify-content: center;">
                <table>
                    <tr>
                        <th> ID  </th>
                        <th> Bank Name </th>
                        

                    </tr>
                    <tr style="border: 1px solid red;" *ngFor="let item of departments; let i = index">

                        <td>{{item.id}}</td>
                        <td>{{item.bankname}}</td>
                        
                    </tr>
                </table>
            </div>


        </div>
    </div>