h1,
h5,
p {
  font-weight: 600;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;
}
::selection{
  background: #c51724;
  color: #fff;
}
div {
  text-align: center;
}
  


button:disabled {
  cursor: not-allowed;
}

  .data {
    background: antiquewhite;
    border-radius: 5px;
  }


.origin-overlay {
  .qrcode-tooltip {
    .qrcode-tooltip-temp{
      padding: min(5px) !important;
    }
  }
}

.btn2{
  color: #fff;
    background: #c51724;
    border: none;
    padding: 9px 13px;
    font-family: 'Lato';
    font-size: 18px;
    border-radius: 10px;
}
.row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.scan {
  background-color: #262626;
  margin-bottom: 17px;
  overflow: hidden;
  height: 300px;
  width: 80%;
  left: 12%;
}
.row5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background: #c51724;
 
}
ul{
  display: inline;
  background: #c51724;
}
ul li{
  list-style: none;
  padding: 20px 10px;
}
.back{
  background: #c51724;
  padding: 10px 40px;
}
.logo{
  width: 200px;
  background: #c51724;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  padding: 10px;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.items-container {
  background-color: #c51724;
  padding: 10px;
  position: absolute;
  top: 100px; /* Adjust this value to change the distance from the header */
  right: 60px; /* Adjust this value to change the distance from the right edge */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.items-container ul {
  list-style: none;
  padding: 0;
}

.items-container li {
  margin-bottom: 5px;
}

.items-container li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.items-container li a img {
  margin-right: 10px;
}














@media only screen and (max-width: 600px) {
  h3{
      font-family: lato;
  font-size: 12px;
  }
  .pd{
      padding: 28px 28px 100px 28px;
  }
  .back{
    background: #c51724;
    padding: 5px 0px;
}
.logo{
    width: 140px;
}
.footerimage{
    width: 38px;
  }
  .row5{
    padding: 10px 20px;
      justify-content: space-between;
  }
  ul li{
    list-style: none;
    padding: 15px 10px
  }
  .items-container{
    top: 76px;
    right: 30px;
  }
}

.dataTables_info 
{

    font-size: 500px;
}