<div class="container-fluid sticky" id="mainfoot">
    <div class="row1">
      <div class="col">
        <a routerLink="/merchantaddproduct.component"><img src="assets/New Design empty.svg" class="footerimage1">
        </a>
        <h3 class="det">Add Product</h3>
      </div>
      <div class="col">
        <a routerLink="/merchantproducts.component"> <img src="assets/Repeat order.svg" class="footerimage"></a>
        <h3 class="det">Products</h3>
      </div>
      <div class="col">
        <a routerLink="/merchantorders.component"> <img src="assets/Order history.svg" class="footerimage"></a>
        <h3 class="det">All Orders</h3>
      </div>
      <!-- <div class="col">
        <a routerLink="/registeruser.component"> <img src="assets/add-user.svg" class="footerimage"></a>
        <h3 class="det">Add User</h3>
      </div> -->
  
    </div>
  </div>