::selection{
    background: #c51724;
    color: #fff;
  }
  @media print {
    html, body {
      display: none;
    }
  }
  *{
      margin: 0;
      padding: 0;
      font-family: lato;
  }
  .back{
      background: #c51724;
      padding: 7px 20px;
      z-index: 99999999999999;
  }
  .logo{
      width: 110px;
  }
  .roww{
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: center;
  }
  .row1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0px;
      margin-top: -3px;
      margin-bottom: -9px;
     
  }
  
  .row2{
      display: flex;
      justify-content: center;
      padding: 0px 40px;
     
  }
  ul{
      display: inline;
  }
  ul li{
      list-style: none;
      padding: 20px 10px;
  }
  .sticky {
      padding: 4px 0px;
      text-align: center;
      background: #F6F5FD;
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 9999;
      height: 12%;
  }
  .footerimage{
  
      width: 26px;
      margin-top: 8px;
  
    }
    .footerimage1{
      
      width: 21px;
      margin-top: 10px;
    }
    h3{
      font-size: 14px;
      font-weight: 400;
    }
    .tog{
      background: none;
      border: none;
    }
  
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: none;
      padding: 10px;
    }
    
    .toggle-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
    }
    
    .items-container {
      background-color: #c51724;
      padding: 15px;
      position: absolute;
      top: 55px; /* Adjust this value to change the distance from the header */
      right: 0px; /* Adjust this value to change the distance from the right edge */
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 99999;
    }
    
  
  
    .items-container ul {
      list-style: none;
      padding: 0;
    }
    
    .items-container li {
      margin-bottom: 5px;
    }
    
    .items-container li a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      padding-left: 7px;
    }
    
    .items-container li a img {
      margin-right: 4px;
    }
    
  
    .items-container-notification {
      background-color: white;
      width: 300px;
  
      position: absolute;
      top: 65px; /* Adjust this value to change the distance from the header */
      right: 0px; /* Adjust this value to change the distance from the right edge */
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 99999;
      text-align: left;
      scroll-behavior: smooth;
      /* Adjust the maximum height as needed */
      overflow-y: auto;
    }
  
    .ccc
    {
      height: auto !important;
     
    }
    tr{
      border: 1px solid #c51724;
    }
    th{
      border: 1px solid #c51724;
    }
    td{
      border: 1px solid #c51724;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    table{
      border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 0px 20px;
    }
    th{
      font-family: lato;
    }
    
    
    
    .cdk-virtual-scroll-viewport {
      display: contents !important;
      
  }
  
  .button-text {
    margin-left: -14px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    margin-top: -10px;
    
  }
  
  
  .items-container-notification{
     width: 600px !important;
  }
  
  .items-container-notification{
    width: 700px !important;
  }
  
    @media only screen and (max-width: 600px) {   
        .back{
          background: #c51724;
          padding: 10px 10px;
      }
      .logo{
          width: 140px;
      }
      .footerimage{
          width: 38px;
        }
        .footerimage1{
          width: 27px;
        }
        .row1{
          padding: 0px 20px;
        }
        .det{
          font-size: 13px;
          line-height: 15px;
        }
        .items-container{
          top:60px;
        }
        ul li{
          list-style: none;
          padding: 20px 10px;
      }
      .items-container-notification {
        width: 100% !important;
        top: 82px;
    }
    .sticky {
      height: 10%;
  }
    }
  