<section class="w-full h-full">
    <!-- header -->
    <div class="flex flex-col">
        <h1 class="text-xl font-semibold text-primary">Add Employee</h1>
    </div>
    <hr class="border-[#D2D2D2] my-4" />
    <div class="">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <label class="text-sm text-[#050914]">
                    Employment Type<span class="text-primary"> *</span>
                </label>
                <select (change)="onEmploymentTypeChange($event)"
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option value="">Choose Employment Type</option>
                    <option value="Regular">Regular</option>
                    <option value="Target based">Target based</option>
                    <option value="Commission based">Commission based</option>

                </select>
            </div>
            <div>
                <label class="text-sm text-[#050914]">
                    Employee ID
                </label>
                <input type="text" value="TRPE0001" disabled
                    class="mt-2 w-full border border-[#D2D2D2] bg-green-200 rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
            </div>
            <div>
                <label class="text-sm text-[#050914]">
                    Name<span class="text-primary"> *</span>
                </label>
                <input type="text" placeholder="Enter Name"
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
            </div>
            <div>
                <label class="text-sm text-[#050914]">
                    Mobile Number<span class="text-primary"> *</span>
                </label>
                <input type="text" placeholder="Enter Mobile Number"
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
            </div>
            <div>
                <label class="text-sm text-[#050914]">
                    Department<span class="text-primary"> *</span>
                </label>
                <select
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option>Assign Department</option>
                </select>
            </div>
            <div>
                <label class="text-sm text-[#050914]">
                    Designation<span class="text-primary"> *</span>
                </label>
                <select
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option>Assign Designation</option>
                </select>
            </div>

            <div>
                <label class="text-sm text-[#050914]">
                    Office Location<span class="text-primary"> *</span>
                </label>
                <select
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option>Choose Office Branch Location</option>
                </select>
            </div>

            <div>
                <label class="text-sm text-[#050914]">
                    Reporting Authority<span class="text-primary"> *</span>
                </label>
                <select
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option>Select Reporting Authority's Name</option>
                </select>
            </div>

            <!-- Regular Employment Type Fields -->
            <div *ngIf="employmentType === 'Regular'">
                <label class="text-sm text-[#050914]">
                    Monthly Fixed Salary<span class="text-primary"> *</span>
                </label>
                <input type="text" placeholder="Enter Monthly Fixed Salary in INR"
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
            </div>

            <div *ngIf="employmentType === 'Regular'">
                <label class="text-sm text-[#050914]">
                    Work Mode<span class="text-primary"> *</span>
                </label>
                <select
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option>Select Work Mode</option>
                </select>
            </div>

            <!-- Target Based Employment Type Fields -->
            <div *ngIf="employmentType === 'Target based'">
                <label class="text-sm text-[#050914]">
                    Monthly Guaranteed Salary<span class="text-primary"> *</span>
                </label>
                <input type="text" placeholder="Enter Monthly Guaranteed Salary in INR"
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
            </div>

            <div *ngIf="employmentType === 'Target based' || employmentType === 'Commission based'">
                <label class="text-sm text-[#050914]">
                    Target Type<span class="text-primary"> *</span>
                </label>
                <select
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                    <option>Choose Target Type</option>
                </select>
            </div>

            <div *ngIf="employmentType === 'Target based' || employmentType === 'Commission based'">
                <label class="text-sm text-[#050914]">
                    Monthly Target Value<span class="text-primary"> *</span>
                </label>
                <input type="text" placeholder="Enter Monthly Target Value"
                    class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
            </div>
        </div>
        <div class="mt-4">
            <h1 class="text-xl font-semibold text-primary">Personal Information</h1>
            <hr class="border-[#D2D2D2] my-4" />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div>
                    <label class="text-sm text-[#050914]">
                        Gender<span class="text-primary"> *</span>
                    </label>
                    <select
                        class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                        <option>Select Gender</option>
                    </select>
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        Date of Birth<span class="text-primary"> *</span>
                    </label>
                    <div class="relative">
                        <input type="date" placeholder="Enter Date of Birth"
                            class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                    </div>
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        Address<span class="text-primary"> *</span>
                    </label>
                    <input type="text" placeholder="Enter Address"
                        class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm focus:outline-none focus:ring-1 focus:ring-green-500" />
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        Pin Code<span class="text-primary"> *</span>
                    </label>
                    <input type="text" placeholder="Enter Pin"
                        class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm focus:outline-none focus:ring-1 focus:ring-green-500" />
                </div>

                <div class="md:col-span-2">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">


                        <div>
                            <label class="text-sm text-[#050914]">
                                Country<span class="text-primary"> *</span>
                            </label>
                            <input type="text" value="India" disabled
                                class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm focus:outline-none focus:ring-1 focus:ring-green-500" />
                        </div>

                        <div>
                            <label class="text-sm text-[#050914]">
                                State<span class="text-primary"> *</span>
                            </label>
                            <select
                                class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                                <option>Choose State</option>
                            </select>
                        </div>

                        <div>
                            <label class="text-sm text-[#050914]">
                                District<span class="text-primary"> *</span>
                            </label>
                            <select
                                class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                                <option>Choose District</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="mt-4">
            <h1 class="text-xl font-semibold text-primary">Employment Information</h1>
            <hr class="border-[#D2D2D2] my-4" />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="text-sm text-[#050914]">
                        Date of Joining<span class="text-primary"> *</span>
                    </label>

                    <div class="">
                        <input type="date" placeholder="Enter Joining Date" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
                 focus:ring-2 focus:ring-teal-500 focus:outline-none" />


                    </div>
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        UAN
                    </label>
                    <input type="text" placeholder="Enter Universal Account Number" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        PAN<span class="text-primary"> *</span>
                    </label>
                    <input type="text" placeholder="Enter Employee's PAN" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        Aadhaar Number<span class="text-primary"> *</span>
                    </label>
                    <input type="text" placeholder="Enter Employee's Aadhaar" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>
                <div class="md:col-span-2">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

                        <div>
                            <label class="text-sm text-[#050914]">
                                PF Number
                            </label>
                            <input type="text" placeholder="Enter PF Number" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                        </div>

                        <div>
                            <label class="text-sm text-[#050914]">
                                PF Joining Date
                            </label>

                            <div class="">
                                <input type="date" placeholder="Choose PF Joining Date" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
                 focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                            </div>
                        </div>
                        <div>
                            <label class="text-sm text-[#050914]">
                                ESI Number
                            </label>
                            <input type="text" placeholder="Enter ESI Number" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h1 class="text-xl font-semibold text-primary">Transport Details</h1>
            <hr class="border-[#D2D2D2] my-4" />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="text-sm text-[#050914]">
                        Choose Vehicle<span class="text-primary"> *</span>
                    </label>
                    <select
                        class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
                        <option>Choose Vehicle</option>
                    </select>
                </div>
                <div class="mt-6">
                    <p class="text-sm text-[#050914]"> <span class="text-primary">*</span> If the vehicle is not listed
                        in the database
                    </p>
                    <h1 class="text-[#006842] text-md font-semibold cursor-pointer hover:underline"
                        (click)="togglePersonalVehicleForm()">Add Employee
                        Personal Vehicle</h1>

                </div>
                <!-- Personal Vehicle Form -->
                <div *ngIf="showPersonalVehicleForm" class="mt-2 md:col-span-2 border p-4 rounded-md ">

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <label class="text-sm font-medium text-[#050914]">
                                Add Vehicle Type<span class="text-primary">*</span>
                            </label>
                            <select
                                class="mt-2 w-full border border-[#E2E2E2] rounded-sm px-3 py-3 text-sm text-[#BCBCBC] focus:outline-none">
                                <option>Add Vehicle Type</option>
                            </select>
                        </div>
                        <div>
                            <label class="text-sm font-medium text-[#050914]">
                                Vehicle Make/Brand<span class="text-primary">*</span>
                            </label>
                            <input type="text" placeholder="Add Vehicle Number"
                                class="mt-2 w-full border border-[#E2E2E2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:outline-none" />
                        </div>

                        <div>
                            <label class="text-sm font-medium text-[#050914]">
                                Vehicle Registration Number<span class="text-primary">*</span>
                            </label>
                            <select
                                class="mt-2 w-full border border-[#E2E2E2] rounded-sm px-3 py-3 text-sm text-[#BCBCBC] focus:outline-none">
                                <option>Add Vehicle Number</option>
                            </select>
                        </div>

                        <div>
                            <label class="text-sm font-medium text-[#050914]">
                                Fuel Type<span class="text-primary">*</span>
                            </label>
                            <select
                                class="mt-2 w-full border border-[#E2E2E2] rounded-sm px-3 py-3 text-sm text-[#BCBCBC] focus:outline-none">
                                <option>Vehicle Fuel Type</option>
                            </select>
                        </div>
                        <div>
                            <label class="text-sm font-medium text-[#050914]">
                                GPS Device ID<span class="text-primary">*</span>
                            </label>
                            <select
                                class="mt-2 w-full border border-[#E2E2E2] rounded-sm px-3 py-3 text-sm text-[#BCBCBC] focus:outline-none">
                                <option>Choose GPS Device</option>
                            </select>
                        </div>
                        <div>
                            <label class="text-sm font-medium text-[#050914]">
                                Owned by<span class="text-primary">*</span>
                            </label>
                            <input type="text" disabled value="Personal Vehicle"
                                class="mt-2 w-full border border-[#E2E2E2] rounded-sm px-3 py-3 text-sm bg-[#E7F9EE] text-[#006842]" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mt-4">
            <h1 class="text-xl font-semibold text-primary">Bank Details</h1>
            <hr class="border-[#D2D2D2] my-4" />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div>
                    <label class="text-sm text-[#050914]">
                        Bank Name
                    </label>
                    <select class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none">
                        <option>Choose Name of Bank</option>
                    </select>
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        IFSC Code
                    </label>
                    <input type="text" placeholder="Enter IFSC Code" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        Account Number
                    </label>
                    <input type="text" placeholder="Enter Account Number" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        Account Holder Name
                    </label>
                    <input type="text" placeholder="Enter Account Holder Name" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>

                <div>
                    <label class="text-sm text-[#050914]">
                        UPI Detail
                    </label>
                    <input type="text" placeholder="Enter UPI ID" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>

            </div>
        </div>
        <div class="mt-4">
            <h1 class="text-xl font-semibold text-primary">Emergency Details</h1>
            <hr class="border-[#D2D2D2] my-4" />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div>
                    <label class="text-sm text-[#050914]">
                        Employee’s Blood Group
                    </label>
                    <select class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none">
                        <option>Choose Blood Group</option>
                    </select>
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        Emergency Contact Person
                    </label>
                    <input type="text" placeholder="Enter Emergency Contact Name" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        Emergency Contact Number
                    </label>
                    <input type="text" placeholder="Enter Emergency Contact Number" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        Relation with Employee
                    </label>
                    <input type="text" placeholder="Enter Relationship with Employee" class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC]
               focus:ring-2 focus:ring-teal-500 focus:outline-none" />
                </div>

            </div>
        </div>
        <div class="mt-4">
            <h1 class="text-xl font-semibold text-primary">Upload Documents</h1>
            <hr class="border-[#D2D2D2] my-4" />
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5 items-center">
                <div>
                    <label class="text-sm text-[#050914]">
                        Employee Photo<span class="text-primary"> *</span>
                    </label>
                    <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
                        <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
                        <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
                            <img src="assets/icons/upload.svg" alt="" />
                        </div>
                    </div>
                    <button type="button" (click)="fileInput.click()"
                        class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
                        Upload File
                    </button>
                    <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        Aadhaar/VoterID/Passport <span class="text-primary">*</span>
                    </label>
                    <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
                        <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
                        <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
                            <img src="assets/icons/upload.svg" alt="" />
                        </div>
                    </div>
                    <button type="button" (click)="fileInput.click()"
                        class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
                        Upload File
                    </button>
                    <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
                </div>
                <div>
                    <label class="text-sm text-[#050914]">
                        Driving Licence<span class="text-primary">*</span>
                    </label>
                    <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
                        <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
                        <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
                            <img src="assets/icons/upload.svg" alt="" />
                        </div>
                    </div>
                    <button type="button" (click)="fileInput.click()"
                        class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
                        Upload File
                    </button>
                    <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
                </div>
                <div>
                    <p class="text-gray-400 text-sm">
                        <span class="text-primary">*</span>
                        Driving Licence is mandatory if <br>
                        designated as Driver
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button
        class="bg-[#006842] text-white hover:bg-secondary hover:text-primary font-medium w-full md:w-1/2 cursor-pointer rounded-md p-2 mt-6">
        Submit
    </button>
</section>