
    
<div style="padding: 100px 20px 249px 20px;">
    <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
    
       



        <div class="row rowstyle">
    
            <div class="col padd" style="margin: 23px 0px;">
                <label>
                    Employee Name
                </label><br>
                <input type="text" name="style" id="style" formControlName="name">
            </div>

             <div class="row">
                 <label>
                    Employee Image
                </label><br>
            <div class="file-uploa">
                <div class="image-upload-wrap" [style.backgroundImage]="'url(' + imageSrc + ')'" id="backgroundElement">
                    <input type="file"  (change)="onFileSelected($event)" accept="image/*"  class="file-upload-input" name="topimage" id="topimage"
                        formControlName="topimage" >
                        
                    <div class="drag-text">
                        <img src="assets/icon.png" width="50px;">
                        <h3>Upload Employee Images</h3>
                    </div>
                </div>
               
            </div>
        </div>


    <div class="col padd" style="margin: 23px 0px;">
    <label>Select Designation </label><br>
    <select formControlName="designationid" class="form-control"   (change)="onDesignationChange($event)">
        <option value="">-- Select Designation --</option>
        <option *ngFor="let dept of alldesignation"
                [value]="dept.id">
               {{dept.designationname}}
        </option>
    </select>
</div>


            <div class="col">
                <label>Designation</label><br>
                

                <input type="text" name="style" id="style" formControlName="designation" readonly>
            </div>
            

<div class="col padd" style="margin: 23px 0px;">
    <label>Select Department </label><br>
    <select formControlName="department_id" class="form-control"   (change)="onDepartmentChange($event)">
        <option value="">-- Select Department --</option>
        <option *ngFor="let dept of departments"
                [value]="dept.id">
            {{dept.deptname}}
        </option>
    </select>
</div>

<div class="col padd" style="margin: 23px 0px;">
                <label>
                    Department Name
                </label><br>
                <input type="text" name="style" id="style" formControlName="department" readonly>
            </div>



        </div>
    
        <div class="row rowstyle">

            


            <div class="col padd" style="margin: 23px 0px;">
                <label>Select Work Mode </label><br>
                <select formControlName="workmodeid" class="form-control"   (change)="onWorkModeChange($event)">
                    <option value="">-- Select work mode --</option>
                    <option *ngFor="let wm of allworkmode"
                            [value]="wm.id">
                             {{wm.workmodename}}
                    </option>
                </select>
            </div>

    
            <div class="col padd">
                <label style="margin-top: 20px;">
                    Work Mode 
                </label><br>
                
                <input type="text" name="style" id="style" formControlName="workmode">
            
            </div>
            <div class="col mty">
                <label class="mst" style="margin-top: 10px;"> Office Location </label><br>
                <input type="text" id="officelocation" name="officelocation" formControlName="officelocation" >
            </div>
            <div class="col mty">
                <label class="mst" style="margin-top: 7px;">
                    Contact number
                </label><br>
                <input type="text" name="contactnumber" id="contactnumber" formControlName="contactnumber">
            </div>
        </div>
        <div class="row rowstyle">
    
            <div class="col padd myt">
                <label>
                  Address
                </label><br>
                <input type="text" name="address" id="address" formControlName="address">
            </div>

            <div class="col mty">
                <label>
                  Country
                </label><br>
                <input type="text" name="country" id="country" formControlName="country">
               
            </div>
            

            <div class="col padd" style="margin: 23px 0px;">
                <label> Select State </label><br>
                <select formControlName="staeid" class="form-control" (change)="onStateChange($event)">
                    <option value="">-- Select State --</option>
                    <option *ngFor="let dept of allState"
                            [value]="dept.id">
                        {{ dept.statename }}
                    </option>
                </select>
            </div>

            
          
            <div class="col mty">   
                     <label>
                          State Name
                    </label><br>
                        <input type="text" name="state" id="state" formControlName="state" readonly>
            </div>
        
        </div>
        



        <div class="row rowstyle">
    
            <div class="col padd myt">
                <label>
                  City
                </label><br>
                <input type="text" name="city" id="city" formControlName="city">
            </div>

            
            
            
            <div class="col mty">   
                <label>
                  PIN Code
                </label><br>
                <input type="text" name="pincode" id="pincode" formControlName="pincode">
                 
            </div>
        
        </div>

        


        
        <div class="row rowstyle">
    
            <div class="col padd myt">
                <label>
                  Reporting Manager
                </label><br>
                <input type="text" name="reportingmanager" id="reportingmanager" formControlName="reportingmanager">
            </div>

            <div class="col mty">

                
                 <label>
                  Gender
                </label><br>
                <input type="text" name="gender" id="gender" formControlName="gender">
           
                
            </div>
            
            <div class="col mty">   
                
                 <label>
                  Date of birth
                </label><br>
                <input type="date" name="dateofbirth" id="dateofbirth" formControlName="dateofbirth">
           
                 
            </div>


            
            <div class="col mty">   
                
                 <label>
                     Date of joining
                </label><br>
                <input type="date" name="dateofjoining" id="dateofjoining" formControlName="dateofjoining">
           
                 
            </div>


            
            
            
            <div class="col mty">   
                
                 <label>
                     PAN Number
                </label><br>
                <input type="text" name="pannumber" id="pannumber" formControlName="pannumber">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     Aadhaar Number
                </label><br>
                <input type="text" name="aadhaarnumber" id="aadhaarnumber" formControlName="aadhaarnumber">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     UAN Number
                </label><br>
                <input type="text" name="uan" id="uan" formControlName="uan">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     PF Number
                </label><br>
                <input type="text" name="pfnumber" id="pfnumber" formControlName="pfnumber">
           
                 
            </div>

            

            
            <div class="col mty">   
                
                 <label>
                     PF Joining Date
                </label><br>
                <input type="date" name="pfjoiningdate" id="pfjoiningdate" formControlName="pfjoiningdate">
           
                 
            </div>


            <div class="col mty">   
                
                 <label>
                     ESI Number
                </label><br>
                <input type="text" name="esinumber" id="esinumber" formControlName="esinumber">
           
                 
            </div>


            
            <div class="col mty">   
                
                 <label>
                     Name of Bank
                </label><br>
                <input type="text" name="nameofbank" id="nameofbank" formControlName="nameofbank">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     IFSC Code
                </label><br>
                <input type="text" name="ifsccode" id="ifsccode" formControlName="ifsccode">
           
                 
            </div>


            
             <div class="col mty">   
                
                 <label>
                     Account Number
                </label><br>
                <input type="text" name="accountnumber" id="accountnumber" formControlName="accountnumber">
           
                 
            </div>


            <div class="col mty">   
                
                 <label>
                     Name of Account Holder
                </label><br>
                <input type="text" name="nameofaccountholder" id="nameofaccountholder" formControlName="nameofaccountholder">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     UPI ID
                </label><br>
                <input type="text" name="upiid" id="upiid" formControlName="upiid">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     Blood Group of Employee
                </label><br>
                <input type="text" name="bloodgroupofemployee" id="bloodgroupofemployee" formControlName="bloodgroupofemployee">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     Emergency Contact Person Name
                </label><br>
                <input type="text" name="emergencycontactpersonname" id="emergencycontactpersonname" formControlName="emergencycontactpersonname">
           
                 
            </div>


             <div class="col mty">   
                
                 <label>
                     Relation
                </label><br>
                <input type="text" name="relation" id="relation" formControlName="relation">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     Relation Contact Number
                </label><br>
                <input type="text" name="relationcontactnumber" id="relationcontactnumber" formControlName="relationcontactnumber">
           
                 
            </div>


            
            <div class="col padd" style="margin: 23px 0px;">
                <label> Select Employment Type </label><br>
                <select formControlName="typeofemploymentid" class="form-control" (change)="onEmploymentTypeChange($event)">
                    <option value="">-- Select Employment Type --</option>
                    <option *ngFor="let dept of allemploymenttype"
                            [value]="dept.id">
                        {{ dept.employmenttypename }}
                    </option>
                </select>
            </div>








            <div class="col mty">   
                
                 <label>
                     Type of Employment
                </label><br>
                <input type="text" name="typeofemployment" id="typeofemployment" formControlName="typeofemployment">
           
                 
            </div>


            
            <div class="col mty">   
                
                 <label>
                     Monthly Fixed Salary
                </label><br>
                <input type="number" name="monthlyfixedsalary" id="monthlyfixedsalary" formControlName="monthlyfixedsalary">
           
                 
            </div>


            <div class="col mty">   
                
                 <label>
                     Minimum Guaranteed Salary
                </label><br>
                <input type="number" name="minimumguaranteedsalary" id="minimumguaranteedsalary" formControlName="minimumguaranteedsalary">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     Monthly Target Value
                </label><br>
                <input type="number" name="monthlytargetvalue" id="monthlytargetvalue" formControlName="monthlytargetvalue">
           
                 
            </div>


        <div class="col padd" style="margin: 23px 0px;">
                <label> Select Commission Type </label><br>
                <select formControlName="commissionid" class="form-control" (change)="onCommissionTypeChange($event)">
                    <option value="">-- Select Commission Type --</option>
                    <option *ngFor="let dept of allcommission"
                            [value]="dept.id">
                        {{ dept.commitiontypename }}
                    </option>
                </select>
            </div>


            <div class="col mty">   
                
                 <label>
                     Commission Type
                </label><br>
                <input type="text" name="commissiontype" id="commissiontype" formControlName="commissiontype">
           
                 
            </div>

            <div class="col mty">   
                
                 <label>
                     Commission Rate
                </label><br>
                <input type="number" name="commissionrate" id="commissionrate" formControlName="commissionrate">
           
                 
            </div>

</div>
        

        


    
    
        <div class="row md"  style="display: none;">
            <div class="col1"><button type="button" class="btn subbtn" (click)="toggleRowVisibility()">Add Color</button></div>
            
        </div>
        <div class="row2 var" *ngIf="showRow">
            <div class="row" style="display: flex;">
              
            <div class="column1" style="display: none;">
                
                <label class="picture backgroundElement" for="picture__input" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom + ')'" id="backgroundElement">
                     
               Upload  <br>      Company <br>  Identity  <br> Document
                </label>
                <input type="file" (change)="onFileSelectBottom($event)" name="picture__input" id="picture__input" style="display:none;"
                    formControlName="pictureinput">
                    
                <input id="textaa" name="color" type="text" class="mim"
                    formControlName="imgcolor0" style="display: none;">
                    
                    
            </div>
          
            <div class="column1"  *ngIf="showColumn1" style="display: none;">
                
                <label class="picture backgroundElement" for="picture__input1" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom1 + ')'" id="backgroundElement1">
                Upload  <br>    Company <br> Upload <br>Document
                </label>
    
                <input type="file" (change)="onFileSelectBottoms($event)" name="picture__input" id="picture__input1" style="display:none;"
                    formControlName="pictureinput1" >
                <input id="textaa" name="color1" type="text" class="mim"
                    formControlName="imgcolor1"  style="display: none;">
                    <input type="button" class="remove-button" (click)="removeColumn('column1')" value="-" style="display: none;">
            </div>
            <div class="column1" *ngIf="showColumn2">
                
                <label class="picture backgroundElement" for="picture__input2" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom2 + ')'" id="backgroundElement2">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom2($event)" name="picture__input" id="picture__input2" style="display:none;"
                    formControlName="pictureinput2" >
                <input id="textaa" name="color2" type="text" class="mim"
                    formControlName="imgcolor2"  style="display: none;">
                    <input type="button" class="remove-button" (click)="removeColumn('column2')" value="-" style="display: none;">
            </div>
            <div class="column1" *ngIf="showColumn3">
                
                <label class="picture backgroundElement" for="picture__input3" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom3 + ')'" id="backgroundElement3">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom3($event)" name="picture__input" id="picture__input3" style="display:none;"
                    formControlName="pictureinput3" >
                <input id="textaa" name="color3" type="text" class="mim"
                    formControlName="imgcolor3" >
                    <input type="button" class="remove-button" (click)="removeColumn('column3')" value="-">
            </div>
            <div class="column1" *ngIf="showColumn4">
                
                <label class="picture backgroundElement" for="picture__input4" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom4 + ')'" id="backgroundElement4">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom4($event)" name="picture__input" id="picture__input4" style="display:none;"
                    formControlName="pictureinput4" >
                <input id="textaa" name="color4" type="text" class="mim"
                    formControlName="imgcolor4" >
                    <input type="button" class="remove-button" (click)="removeColumn('column4')" value="-">
            </div>
            <div class="column1" *ngIf="showColumn5">
                
                <label class="picture backgroundElement" for="picture__input5" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom5 + ')'" id="backgroundElement5">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom5($event)" name="picture__input" id="picture__input5" style="display:none;"
                    formControlName="pictureinput5" >
                <input id="textaa" name="color4" type="text" class="mim"
                    formControlName="imgcolor5" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column5')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn6">
                
                <label class="picture backgroundElement" for="picture__input6" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom6 + ')'" id="backgroundElement6">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom6($event)" name="picture__input" id="picture__input6" style="display:none;"
                    formControlName="pictureinput6" >
                <input id="textaa" name="color6" type="text" class="mim"
                    formControlName="imgcolor6" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column6')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn7">
                
                <label class="picture backgroundElement" for="picture__input7" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom7 + ')'" id="backgroundElement7">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom7($event)" name="picture__input" id="picture__input7" style="display:none;"
                    formControlName="pictureinput7" >
                <input id="textaa" name="imgcolor7" type="text" class="mim"
                    formControlName="imgcolor7" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column7')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn8">
                
                <label class="picture backgroundElement" for="picture__input8" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom8 + ')'" id="backgroundElement8">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom8($event)" name="picture__input" id="picture__input8" style="display:none;"
                    formControlName="pictureinput8" >
                <input id="textaa" name="imgcolor8" type="text" class="mim"
                    formControlName="imgcolor8" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column8')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn9">
                
                <label class="picture backgroundElement" for="picture__input9" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom9 + ')'" id="backgroundElement9">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom9($event)" name="picture__input" id="picture__input9" style="display:none;"
                    formControlName="pictureinput9" >
                <input id="textaa" name="imgcolor9" type="text" class="mim"
                    formControlName="imgcolor9" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column9')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn10">
                
                <label class="picture backgroundElement" for="picture__input10" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom10 + ')'" id="backgroundElement10">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom10($event)" name="picture__input" id="picture__input10" style="display:none;"
                    formControlName="pictureinput10" >
                <input id="textaa" name="imgcolor10" type="text" class="mim"
                    formControlName="imgcolor10" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column10')" value="-">  
            </div>
            
            <div class="column1" *ngIf="showColumn11">
                
                <label class="picture backgroundElement" for="picture__input11" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom11 + ')'" id="backgroundElement11">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom11($event)" name="picture__input" id="picture__input11" style="display:none;"
                    formControlName="pictureinput11" >
                <input id="textaa" name="imgcolor11" type="text" class="mim"
                    formControlName="imgcolor11" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column11')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn12">
                
                <label class="picture backgroundElement" for="picture__input12" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom12 + ')'" id="backgroundElement12">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom12($event)" name="picture__input" id="picture__input12" style="display:none;"
                    formControlName="pictureinput12" >
                <input id="textaa" name="imgcolor12" type="text" class="mim"
                    formControlName="imgcolor12" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column12')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn13">
                
                <label class="picture backgroundElement" for="picture__input13" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom13 + ')'" id="backgroundElement13">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom13($event)" name="picture__input" id="picture__input13" style="display:none;"
                    formControlName="pictureinput13" >
                <input id="textaa" name="imgcolor13" type="text" class="mim"
                    formControlName="imgcolor13" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column13')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn14">
                
                <label class="picture backgroundElement" for="picture__input14" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom14 + ')'" id="backgroundElement14">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom14($event)" name="picture__input" id="picture__input14" style="display:none;"
                    formControlName="pictureinput14" >
                <input id="textaa" name="imgcolor14" type="text" class="mim"
                    formControlName="imgcolor14" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column14')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn15">
                
                <label class="picture backgroundElement" for="picture__input15" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom15 + ')'" id="backgroundElement15">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom15($event)" name="picture__input" id="picture__input15" style="display:none;"
                    formControlName="pictureinput15" >
                <input id="textaa" name="imgcolor15" type="text" class="mim"
                    formControlName="imgcolor15" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column15')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn16">
                
                <label class="picture backgroundElement" for="picture__input16" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom16 + ')'" id="backgroundElement16">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom16($event)" name="picture__input" id="picture__input16" style="display:none;"
                    formControlName="pictureinput16" >
                <input id="textaa" name="imgcolor16" type="text" class="mim"
                    formControlName="imgcolor16" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column16')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn17">
                
                <label class="picture backgroundElement" for="picture__input17" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom17 + ')'" id="backgroundElement17">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom17($event)" name="picture__input" id="picture__input17" style="display:none;"
                    formControlName="pictureinput17" >
                <input id="textaa" name="imgcolor17" type="text" class="mim"
                    formControlName="imgcolor17" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column17')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn18">
                
                <label class="picture backgroundElement" for="picture__input18" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom18 + ')'" id="backgroundElement18">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom18($event)" name="picture__input" id="picture__input18" style="display:none;"
                    formControlName="pictureinput18" >
                <input id="textaa" name="imgcolor18" type="text" class="mim"
                    formControlName="imgcolor18" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column18')" value="-">  
            </div>
    
    
            <div class="column1" *ngIf="showColumn19">
                
                <label class="picture backgroundElement" for="picture__input19" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom19 + ')'" id="backgroundElement19">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom19($event)" name="picture__input" id="picture__input19" style="display:none;"
                    formControlName="pictureinput19" >
                <input id="textaa" name="imgcolor19" type="text" class="mim"
                    formControlName="imgcolor19" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column19')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn20">
                
                <label class="picture backgroundElement" for="picture__input20" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom20 + ')'" id="backgroundElement20">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom20($event)" name="picture__input" id="picture__input20" style="display:none;"
                    formControlName="pictureinput20" >
                <input id="textaa" name="imgcolor20" type="text" class="mim"
                    formControlName="imgcolor20" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column20')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn21">
                
                <label class="picture backgroundElement" for="picture__input21" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom21 + ')'" id="backgroundElement21">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom21($event)" name="picture__input" id="picture__input21" style="display:none;"
                    formControlName="pictureinput21" >
                <input id="textaa" name="imgcolor21" type="text" class="mim"
                    formControlName="imgcolor21" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column21')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn22">
                
                <label class="picture backgroundElement" for="picture__input22" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom22 + ')'" id="backgroundElement22">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom22($event)" name="picture__input" id="picture__input22" style="display:none;"
                    formControlName="pictureinput22" >
                <input id="textaa" name="imgcolor22" type="text" class="mim"
                    formControlName="imgcolor22" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column22')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn23">
                
                <label class="picture backgroundElement" for="picture__input23" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom23 + ')'" id="backgroundElement23">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom23($event)" name="picture__input" id="picture__input23" style="display:none;"
                    formControlName="pictureinput23" >
                <input id="textaa" name="imgcolor23" type="text" class="mim"
                    formControlName="imgcolor23" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column23')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn24">
                
                <label class="picture backgroundElement" for="picture__input24" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom24 + ')'" id="backgroundElement24">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom24($event)" name="picture__input" id="picture__input24" style="display:none;"
                    formControlName="pictureinput24" >
                <input id="textaa" name="imgcolor24" type="text" class="mim"
                    formControlName="imgcolor24" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column24')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn25">
                
                <label class="picture backgroundElement" for="picture__input25" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom25 + ')'" id="backgroundElement25">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom25($event)" name="picture__input" id="picture__input25" style="display:none;"
                    formControlName="pictureinput25" >
                <input id="textaa" name="imgcolor25" type="text" class="mim"
                    formControlName="imgcolor25" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column25')" value="-">  
            </div>
    
    
            <div class="column1" *ngIf="showColumn26">
                
                <label class="picture backgroundElement" for="picture__input26" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom26 + ')'" id="backgroundElement26">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom26($event)" name="picture__input" id="picture__input26" style="display:none;"
                    formControlName="pictureinput26" >
                <input id="textaa" name="imgcolor26" type="text" class="mim"
                    formControlName="imgcolor26" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column26')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn27">
                
                <label class="picture backgroundElement" for="picture__input27" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom27 + ')'" id="backgroundElement27">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom27($event)" name="picture__input" id="picture__input27" style="display:none;"
                    formControlName="pictureinput27" >
                <input id="textaa" name="imgcolor27" type="text" class="mim"
                    formControlName="imgcolor27" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column27')" value="-">  
            </div>
    
            <div class="column1" *ngIf="showColumn28">
                
                <label class="picture backgroundElement" for="picture__input28" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom28 + ')'" id="backgroundElement28">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom28($event)" name="picture__input" id="picture__input28" style="display:none;"
                    formControlName="pictureinput28" >
                <input id="textaa" name="imgcolor28" type="text" class="mim"
                    formControlName="imgcolor28" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column28')" value="-">  
            </div>
            <div class="column1" *ngIf="showColumn29">
                
                <label class="picture backgroundElement" for="picture__input29" tabindex="0" [style.backgroundImage]="'url(' + imageSrcbottom29 + ')'" id="backgroundElement29">
                    Upload <br>Image
                </label>
    
                <input type="file" (change)="onFileSelectBottom29($event)" name="picture__input" id="picture__input29" style="display:none;"
                    formControlName="pictureinput29" >
                <input id="textaa" name="imgcolor29" type="text" class="mim"
                    formControlName="imgcolor29" >
                    <input type="button" class="remove-button" class="remove-button" (click)="removeColumn('column29')" value="-">  
            </div>
    
        
            <div class="col" >
                <div class="plus-icon" *ngIf="!showColumn31" (click)="showNextColumn()" style="display: none;">
                    +
                </div>
            </div>
            
        </div>
        
        </div>
        <div class="row2" style="display:flex;margin-top: 20px;">
           
        </div>
    
        <div class="row md">
            <div class="col1"><button type="submit" class="btn subbtn" [disabled]="!productsForm.valid">Submit</button></div>
            
    
        </div>

        <div class="row md">
              

              <button class="btn subbtn" routerLink="/getallemployee.component">
                 Show Employees
                </button>
        </div>
    
    
    </form>

    <table>

        
    </table>
    
    </div>