<br>
<br>
<br>
<br>
<br>
<br><br>
<br>+
<br>
<br>
<br>
<br>

<div class="container pt-5 pbbb">
    <div class="row">
        <div class="col-lg-6">
            <div class="paddingtop">
                <h3> Adding Vehicle Type Brand </h3>
                <form [formGroup]="formsize" (ngSubmit)="onSubmit()">
                   
                   
                    
            <div class="col padd" style="margin: 23px 0px;">
                <label> Select Vehicle Type </label><br>
                <select formControlName="vehicletype_id" class="form-control" (change)="onStateChange($event)">
                    <option value="">-- Select Vehicle Type --</option>
                    <option *ngFor="let dept of vehicletypes"
                            [value]="dept.id">
                        {{ dept.vehicletypename }}
                    </option>
                </select>
            </div>

              <label> Vehicle Type Name </label>
                <input type="text" formControlName="vehicletypename" class="inp"> <br><br>


                    <label> Vehicle Type Brand Name </label>
                    <input type="text" formControlName="vehicletypebrandname" class="inp" > <br><br>



                    
                    <input type="submit" [disabled]="!formsize.valid" value="Add District" class="btn">
                </form>
            </div>
        </div>


        <div class="col-lg-6">
            <div style="display: flex; justify-content: center;">
                <table>
                    <tr>
                        <th>   ID   </th>
                        <th> Vehicle Type Brand Name </th>
                        <th> Vehicle Type ID </th>
                        <th> Vehicle Type Name </th>
                        

                    </tr>
                    <tr style="border: 1px solid red;" *ngFor="let item of alldistricts; let i = index">

                        <td>{{item.id}}</td>
                        <td>{{item.vehicletypebrandname}}</td>
                        <td>{{item.vehicleTypeObj.id}}</td>
                        <td>{{item.vehicleTypeObj.vehicletypename}}</td>
                       

                    </tr>
                </table>
            </div>


        </div>
    </div>