<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

<div class="container pt-5 pbbb">
    <div class="row">
        <div class="col-lg-6">
            <div class="paddingtop">
                <h3> Adding License Type</h3>
                <form [formGroup]="formsize" (ngSubmit)="onSubmit()">
                    <label> License Type </label>
                    <input type="text" formControlName="licencetypename" class="inp"> <br><br>
                    <input type="submit" [disabled]="!formsize.valid" value="Add License Type" class="btn">
                </form>
            </div>
        </div>


        <div class="col-lg-6">
            <div style="display: flex; justify-content: center;">
                <table>
                    <tr>
                        <th> ID  </th>
                        <th> License Type </th>
                        

                    </tr>
                    <tr style="border: 1px solid red;" *ngFor="let item of departments; let i = index">

                        <td>{{item.id}}</td>
                        <td>{{item.licencetypename}}</td>
                        
                    </tr>
                </table>
            </div>


        </div>
    </div>