::selection {
    background: #c51724;
    color:#fff;        
  }

h3{
    font-family: lato;
    font-size: 15px;
    margin-bottom: 4px;
}
h3 span{
    color:#c51724;
}
.pd{
    padding: 28px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
tr img{
    width: 50px;
}
tr{
    border: 1px solid #c51724;
}
th{
    border: 1px solid #c51724;
}
td{
    border: 1px solid #c51724;
}

table{
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 0px 20px;
  
  
}
th{
    font-family: lato;
}
tr td tr td{
    
    font-family: lato;
}

td img:hover{
    transform: scale(1.5);
}
span{
    font-family: lato;
}

  tr td th{
    border: 1px solid #c51724;
  }
  tr td{
    border: 1px solid #c51724;
  }
  td tr td{
    border: 1px solid #c51724;
    width: 100%;
  }

  a{
    color: #c51724 !important;
  }
.pdtab{
    padding:86px 30px 100px 30px;
}
tr td tr{
    border:1px solid #e5e5e5;
}
td tr td {
    border: 1px solid #e5e5e5;
}
td tr th {
    border: none !important;
}






















@media only screen and (max-width: 600px) {
    h3{
        font-family: lato;
    font-size: 7px;
    line-height: 9px;
    }
    .pd{
        padding: 28px 28px 100px 28px;
    }
    .pdtab{
        padding:85px 7px 100px 7px;
    }
    td{
        font-size: 7px;
    }
   tr td tr th{
        font-size: 5px;
        white-space: nowrap;
    }
    td tr td{
        font-size: 5px; 
    }
    tr img{
        width: 30px;
    }
    
      table{
      table-layout: fixed;
      word-wrap: break-word;
    }
    .ct{
        width: 58px;
    }
    .ct1{
        width: 40px;
    }
    .stt{
        font-size: 11px;
    }
    .ct3{
        width: 45px;
    }
    .Remarksh3{
        width: 34px !important;
    }
  }