<!-- <div class="container-fluid pd">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product ID</th>

          <th scope="col">Design No.</th>
          <th scope="col">Size</th>
          <th scope="col">Set of Peice</th>
          <th scope="col"> Category </th>
          <th scope="col"> WSP </th>
          <th scope="col"> Description </th>
          <th scope="col"> Vendor Name </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="productdata != undefined">
          <td scope="row">1</td>

          <td>{{productdata.id}}</td>
          <td>{{productdata.designnumber}}</td>
          <td>{{productdata.size}}</td>
          <td>{{productdata.setofpic}}</td>
          <td>{{productdata.category}}</td>
          <td>{{productdata.wsp}}</td>
          <td>{{productdata.description}}</td>
          <td>{{productdata.vendorname}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div>
    <div class="row">
      <div class="col-md-4 col-lg-4 mb-5" *ngFor="let item of productdataArray; let i = index;">
        <div class="card" *ngIf="item != undefined && item.length > 0">
          <div class="card-body">
            <h2 class="card-title">{{productdataArrayColor[i]}}</h2>
          </div>
          <img src="{{ imgConfig }}/{{item}}" class="card-img-top cdimg" alt="...">
        </div>

      </div>
    </div>
  </div>
</div> -->



<!-- mucode -->
<!-- show image here-->
<div class="container-fluid pd">
  <div class="row mobilereverse">
    <div class="col-lg-6 mobiletop ">
      <div *ngIf="productdataArray && productdataArray.length > 0">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ productdataArrayColor[0] }}</h2>
          </div>
          <img *ngIf="productdataArray[0]" src="{{ imgConfig }}/{{ productdataArray[0] }}" class="card-img-top cdimg"
            alt="...">
        </div>
      </div>

      <div class="col-lg-12" *ngFor="let item of productdataArray; let i = index;">
        <div>
          <div class="card mt-4" *ngIf="item != undefined && item.length > 0">
            <div class="card-body">
              <h2 class="card-title">{{productdataArrayColor[i]}}</h2>
            </div>
            <img src="{{ imgConfig }}/{{item}}" class="card-img-top cdimg" alt="...">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 pt-5 positiongive">
      <div class="row">
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.id}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Design No.</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.designnumber}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Size</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.size}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Set of Peice</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.setofpic}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"> Category </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.category}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"> WSP </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.wsp}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"> Vendor Name </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.vendorname}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"> Description </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="productdata != undefined">
                  <td>{{productdata.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        
        
        <div *ngIf="productdata != undefined" class="fourbutton">
          <input type="button"
            [disabled]="productdata.productapprovalstatus === 'REJECTED' || productdata.productapprovalstatus === 'APPROVED' || productdata.productapprovalstatus === 'PENDING_AT_VENDOR'  "
            class="btn btn-primary wdt"
            (click)="updateApprovalRejection(productdata.id, productdata.vendorid,productdata.vendormobile,productdata.vendorname,'APPROVED')"
            value="APPROVE"> &nbsp; &nbsp;
          <input type="button"
            [disabled]="productdata.productapprovalstatus === 'REJECTED' || productdata.productapprovalstatus === 'APPROVED' || productdata.productapprovalstatus === 'PENDING_AT_VENDOR' "
            class="btn btn-primary wdt"
            (click)="updateApprovalRejection(productdata.id, productdata.vendorid,productdata.vendormobile,productdata.vendorname,'REJECTED')"
            value="REJECT">&nbsp; &nbsp;
            <a type="button" class="btn btn-primary wdt" href="#/view-admin-log.component?productid={{productdata.id}}"> View Action Log </a> &nbsp; &nbsp;
           <span class="fordesktopscreen">  Remarks: {{productdata.remarks}}</span>
        </div>


        <div class="formobilescreen">
          Remarks: {{productdata.remarks}}
        </div>
      


      </div>
    </div>
  </div>
</div>