.cdimg{
    width: 100%; 
    height: 400px;
}
.pd{
  padding: 100px 30px 100px 30px;
}
.table{
  text-align: start;
}
.wdt{
  background-color:#c51724;
  border: none;
  color: white;
}
.positiongive{
  position: fixed;
  right: 0px;
}

.formobilescreen{
  display: none;
}
.fordesktopscreen{
  display: inline;
}

@media only screen and (max-width: 600px) {
  .cdimg{
    width: 100%;
    height: auto;
}
.positiongive{
  position: revert;
}
.formobilescreen{
  display: block;
  padding-top: 5%;
}
.fordesktopscreen{
  display: none;
}
.mobilereverse{
  flex-direction: column-reverse;
}
.mobiletop{
  margin-top: 12%;
}
.wdt{
  margin-top: 4% !important;
}
.fourbutton{
  display: flex;
}
  }