body{
    font-family: lato !important;
}
::selection{
  background: #c51724;
  color: #fff;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    text-align: center;
    margin: 0 !important;
   
}


.row5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
 
}
ul{
  display: inline;
}
ul li{
  list-style: none;
  padding: 20px 10px;
}
.back{
  background: #c51724;
  padding: 20px 40px;
}
.logo{
  width: 200px;
}

.main{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 84vh;
}
.btn{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 67px;
    font-size: 19px;
    border-radius: 13px;
    cursor: pointer;
  }
  .btn1{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 40px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
  }
  .btn2{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 61px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
  }
  .mb-3{
    margin-bottom: 20px;
  }
  h3{
    font-family: 'Lato';
    font-size: 18px;
    color: #000;
  }
  .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
   
}
.sticky {
  padding: 15px 0px;
  text-align: center;
  background: #F6F5FD;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
.footerimage{
  width: 38px;
}




.fit-video{
  height:30 !important;
  width: 60 !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  padding: 10px;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.items-container {
  background-color: #c51724;
  padding: 10px;
  position: absolute;
  top: 100px; /* Adjust this value to change the distance from the header */
  right: 60px; /* Adjust this value to change the distance from the right edge */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.items-container ul {
  list-style: none;
  padding: 0;
}

.items-container li {
  margin-bottom: 5px;
}

.items-container li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.items-container li a img {
  margin-right: 10px;
}
.bimg{
  padding: 30px;
  border: 1px solid red;
  margin-bottom: 25px;
  width:58%;
}
.myrow{
  column-count: 3;
  column-gap: 20px;
  text-align: center;
}

.bimg:hover{
 box-shadow: 0px 0px 5px 0px #e5e5e5;
}





























  @media only screen and (max-width: 600px) {
    .main {
        justify-content: center;
        align-items: center;
        display: grid;
        height: 84vh;
    }
    .back{
      background: #c51724;
      padding: 5px 0px;
  }
  .logo{
      width: 140px;
  }
  .footerimage{
      width: 38px;
    }
    .row5{
      padding: 10px 20px;
      justify-content: space-between;
    }
    ul li{
      list-style: none;
      padding: 15px 10px;
    }
    .row{
      padding: 0px 0px;
    }
    .items-container{
      top:81px;
      right: 13px;
    }
    .bimg{
      width:100%;
    }
    .myrow{
      column-count: 2;
      column-gap: 20px;
    }
   
  }
