<head style="display: none;">
    <!-- jQuery -->
    <script type="text/javascript" 
            src="https://code.jquery.com/jquery-3.5.1.js">
    </script>
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" 
          href=
  "https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    
    <!-- DataTables JS -->
    <script src=
  "https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    </script>
     
  </head>

<!-- 
  <app-user-header></app-user-header>
-->

<div class="container-fluid pd">
   
    <div class="over">
    <table id="datatable" class="row-border hover mt-4" *ngIf="dtRendered" datatable [dtOptions]="dtOptions" cellspacing="0" width="100%" style="padding: 0;">

        <thead>
        <tr>
            <th class="ct"><h3>S.No</h3></th>
            <th class="ct2"><h3>Mobile Number</h3></th>
            <th class="ct1"><h3>Username</h3></th>
            <th class="ct1"><h3>UID</h3></th>
            <th class="ct"><h3>Role ID</h3> </th>
            <th class="ct1"><h3>Request Type</h3> </th>
            <th class="ct1"><h3>Request Value </h3> </th>
            <th class="ct1"><h3>Created Date </h3> </th>
           
        </tr>
        </thead>
<tbody>
    <tr *ngFor="let item of productData let i = index">
        <td>{{i}}</td>
        <td>{{item.mobilenumber}}</td>
        <td>{{item.vendorname}}</td>
        <td> {{item.uid}}</td>

        <td> {{item.roleid}} </td>
        <td> {{ item.requestType}} </td>
        <td>{{item.requestValue}} </td>
        <td>{{item.cd | date:'dd-MM-yyyy'}} </td>
       
      </tr>

    </tbody>
    </table>
  
</div>

    
</div>



