h3{
    font-family: lato;
    font-size: 15px;
    margin-bottom: 4px;
}
::selection{
    background: #c51724;
    color: #fff;
  }
h3 span{
    color:#c51724;
}
.pd{
    padding: 28px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
tr img{
    width: 50px;
}
tr{
    border: 1px solid #c51724;
}
th{
    border: 1px solid #c51724;
}
td{
    border: 1px solid #c51724;
}
tr:nth-child(even){background-color: #f2f2f2}
table{
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 0px 20px;
}
th{
    font-family: lato;
}

td img:hover{
    transform: scale(1.5);
}
td img{
    width: 120px;
    height: 120px;
}
.pd{
    padding: 160px 28px 100px 28px;
}
.btn-primary{
    background-color: #c51724 !important;
    border:none;
    font-size: 12px;
}























@media only screen and (max-width: 600px) {
    h3{
        font-family: lato;
    font-size: 12px;
    }
    .pd{
        padding: 108px 28px 100px 28px;
    }
    .wdt{
        width: 150px;
    }
    .page{
        margin-bottom: 4% !important;
    }
    table.dataTable thead .sorting_asc{
        background-image: none;
    }
    table.dataTable thead .sorting{
        background-image: none;
    }
    table.dataTable thead .sorting_desc{
        background-image: none;
    }
  }