<div class="card card-height-100">
  <div
    class="card-header d-flex align-items-center justify-content-between gap-2"
  >
    <h4 class="card-title flex-grow-1">Top Pages</h4>
    <div>
      <button type="button" class="btn btn-sm btn-outline-light">ALL</button>
      <button type="button" class="btn btn-sm btn-outline-light">1M</button>
      <button type="button" class="btn btn-sm btn-outline-light">6M</button>
      <button type="button" class="btn btn-sm btn-outline-light active">
        1Y
      </button>
    </div>
  </div>

  <div class="card-body pt-0">
    <div dir="ltr">
      <div id="dash-performance-chart" class="apex-charts">
        <apx-chart
          [chart]="conversionChart.chart!"
          [series]="conversionChart.series!"
          [plotOptions]="conversionChart.plotOptions!"
          [legend]="conversionChart.legend!"
          [xaxis]="conversionChart.xaxis!"
          [grid]="conversionChart.grid!"
          [yaxis]="conversionChart.yaxis!"
          [colors]="conversionChart.colors!"
          [tooltip]="conversionChart.tooltip!"
          [markers]="conversionChart.markers!"
          [fill]="conversionChart.fill!"
          [stroke]="conversionChart.stroke!"
        />
      </div>
    </div>
  </div>
</div>
<!-- end card-->
