<form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
  <section class="w-full h-full">
    <!-- header -->
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4">
      <div class="flex flex-col">
        <h1 class="text-xl font-semibold text-primary">Know Your Business</h1>
        <p class="text-xs text-[#050914]">Complete KYB to avail online payment services</p>
      </div>
      <div class="flex flex-col items-start md:items-center">
        <h1 class="font-normal text-sm text-[#050914]">Company ID</h1>
        <p class="font-normal text-sm text-primary">TRPE0001</p>
      </div>
    </div>
    <hr class="border-[#D2D2D2] my-4" />

    <!-- business details -->
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="text-sm text-[#050914]">
            Business Type <span class="text-primary"> *</span>
          </label>

          <select formControlName="businesstype" (ngModelChange)="onBusinessTypeChange()"
            [ngClass]="{ 'text-[#BCBCBC]': !isSelected }"
            class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
            <option value="" class="text-[#BCBCBC]" disabled>Choose a Business Type</option>

            <option value="proprietor" selected>Proprietor</option>

            <option value="private-public">Private Limited / Public Limited</option>

            <option value="partnership">Partnership</option>
            <option value="trust-society">Trust/Society Name</option>
          </select>
        </div>
        <div>
          <label class="text-sm f text-[#050914]"> GSTIN </label>

          <input type="text" formControlName="gstin" placeholder="Goods and Services Tax Identification Number"
            class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none" />
        </div>
      </div>
    </div>
    <div class="mt-4">
      <h1 class="text-xl font-semibold text-primary">Business Details</h1>
      <hr class="border-[#D2D2D2] my-4" />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="text-sm font-medium text-gray-700">
            <span *ngIf="isProprietor() || isPrivatePublicLimited() || isPartnership()">Business Name</span>
            <span *ngIf="isTrustSociety()">Trust/Society Name</span>
            <span class="text-primary">*</span>
          </label>

          <input type="text" formControlName="businessname"
            [placeholder]="isTrustSociety() ? 'Enter Company Name' : 'Enter Company Name'" required
            class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
            [class.border-red-500]="productsForm.get('businessname')?.touched && productsForm.get('businessname')?.invalid"
            [class.border-[#D2D2D2]]="!(productsForm.get('businessname')?.touched && productsForm.get('businessname')?.invalid)" />
          <div *ngIf="productsForm.get('businessname')?.touched && productsForm.get('businessname')?.invalid"
            class="text-red-500 text-xs mt-1">
            <span *ngIf="isTrustSociety()">Trust/Society Name is required</span>
            <span *ngIf="!isTrustSociety()">Business Name is required</span>
          </div>
        </div>
        <div>
          <label class="text-sm font-medium text-gray-700">
            Registered Address <span class="text-primary">*</span>
          </label>

          <input type="text" formControlName="registeredaddress" [placeholder]="
            isTrustSociety() ? 'Enter Trust/Society\'s Address' : 'Enter Company\'s Address'
          " required
            class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
            [class.border-red-500]="productsForm.get('registeredaddress')?.touched && productsForm.get('registeredaddress')?.invalid"
            [class.border-[#D2D2D2]]="!(productsForm.get('registeredaddress')?.touched && productsForm.get('registeredaddress')?.invalid)" />
          <div *ngIf="productsForm.get('registeredaddress')?.touched && productsForm.get('registeredaddress')?.invalid"
            class="text-red-500 text-xs mt-1">
            Registered Address is required
          </div>
        </div>
        <div *ngIf="isProprietor()">
          <label class="text-sm font-medium text-gray-700">
            Proprietor Name <span class="text-primary">*</span>
          </label>

          <input type="text" formControlName="proprietorname" placeholder="Enter Contact Proprietor Name" required
            class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
            [class.border-red-500]="productsForm.get('proprietorname')?.touched && productsForm.get('proprietorname')?.invalid"
            [class.border-[#D2D2D2]]="!(productsForm.get('proprietorname')?.touched && productsForm.get('proprietorname')?.invalid)" />
          <div *ngIf="productsForm.get('proprietorname')?.touched && productsForm.get('proprietorname')?.invalid"
            class="text-red-500 text-xs mt-1">
            Proprietor Name is required
          </div>
        </div>
        <div>
          <label class="text-sm font-medium text-gray-700">
            <span *ngIf="isProprietor()">Proprietor's PAN</span>
            <span *ngIf="isPrivatePublicLimited() || isPartnership()">Company PAN</span>
            <span *ngIf="isTrustSociety()">Trust/Society PAN</span>
            <span class="text-primary">*</span>
          </label>

          <input type="text" formControlName="proprietorpan" [placeholder]="
            isProprietor()
              ? 'Enter Proprietor\'s PAN'
              : isPrivatePublicLimited() || isPartnership()
                ? 'Enter Company\'s PAN'
                : 'Enter Trust/Society\'s PAN'
          " required
            class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
            [class.border-red-500]="productsForm.get('proprietorpan')?.touched && productsForm.get('proprietorpan')?.invalid"
            [class.border-[#D2D2D2]]="!(productsForm.get('proprietorpan')?.touched && productsForm.get('proprietorpan')?.invalid)" />
          <div *ngIf="productsForm.get('proprietorpan')?.touched && productsForm.get('proprietorpan')?.invalid"
            class="text-red-500 text-xs mt-1">
            PAN is required
          </div>
        </div>

        <ng-container *ngIf="!isPartnership() && !isTrustSociety()">
          <div>
            <label class="text-sm font-medium text-gray-700">
              Contact Person Name <span class="text-primary">*</span>
            </label>

            <input type="text" formControlName="name" placeholder="Enter Contact Person Name" required
              class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
              [class.border-red-500]="productsForm.get('name')?.touched && productsForm.get('name')?.invalid"
              [class.border-[#D2D2D2]]="!(productsForm.get('name')?.touched && productsForm.get('name')?.invalid)" />
            <div *ngIf="productsForm.get('name')?.touched && productsForm.get('name')?.invalid"
              class="text-red-500 text-xs mt-1">
              Contact Person Name is required
            </div>
          </div>
          <div>
            <label class="text-sm font-medium text-gray-700">
              Contact Designation <span class="text-primary">*</span>
            </label>

            <input type="text" formControlName="designation" placeholder="Enter Contact Designation" required
              class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
              [class.border-red-500]="productsForm.get('designation')?.touched && productsForm.get('designation')?.invalid"
              [class.border-[#D2D2D2]]="!(productsForm.get('designation')?.touched && productsForm.get('designation')?.invalid)" />
            <div *ngIf="productsForm.get('designation')?.touched && productsForm.get('designation')?.invalid"
              class="text-red-500 text-xs mt-1">
              Contact Designation is required
            </div>
          </div>
          <div>
            <label class="text-sm font-medium text-gray-700">
              Contact Person Mobile <span class="text-primary">*</span>
            </label>

            <input type="text" formControlName="contactnumber" placeholder="Enter Contact Person Mobile" required
              class="mt-2 w-full border rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none"
              [class.border-red-500]="productsForm.get('contactnumber')?.touched && productsForm.get('contactnumber')?.invalid"
              [class.border-[#D2D2D2]]="!(productsForm.get('contactnumber')?.touched && productsForm.get('contactnumber')?.invalid)" />

            <!-- Validation Messages -->
            <div *ngIf="productsForm.get('contactnumber')?.touched && productsForm.get('contactnumber')?.invalid"
              class="mt-1">
              <p *ngIf="productsForm.get('contactnumber')?.errors?.['required']" class="text-red-500 text-xs">
                Mobile number is required
              </p>
              <p *ngIf="productsForm.get('contactnumber')?.errors?.['pattern']" class="text-red-500 text-xs">
                Enter a valid 10-digit mobile number
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="mt-4">
      <h1 class="text-xl font-semibold text-primary">Upload Documents</h1>
      <hr class="border-[#D2D2D2] my-4" />
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
        <div>
          <label class="text-sm text-[#050914]">
            Upload Logo <span class="text-primary">*</span>
          </label>
          <div class="mt-2 border rounded-lg h-32 flex items-center justify-center bg-white"
            [class.border-red-500]="productsForm.get('topimage')?.touched && productsForm.get('topimage')?.invalid"
            [class.border-gray-200]="!(productsForm.get('topimage')?.touched && productsForm.get('topimage')?.invalid)">
            <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
            <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
              <img src="assets/icons/upload.svg" alt="" />
            </div>
          </div>
          <div *ngIf="productsForm.get('topimage')?.touched && productsForm.get('topimage')?.invalid"
            class="text-red-500 text-xs mt-1">
            Logo is required
          </div>
          <button type="button" (click)="fileInput.click()"
            class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
            Upload Logo
          </button>
          <input #fileInput type="file" formControlName="topimage" accept="image/*" class="hidden"
            (change)="onFileSelected($event)" />
        </div>
        <div>
          <label class="text-sm text-[#050914]">
            Upload Proprietor's PAN <span class="text-primary">*</span>
          </label>
          <div class="mt-2 border rounded-lg h-32 flex items-center justify-center bg-white"
            [class.border-red-500]="productsForm.get('pictureinput')?.touched && productsForm.get('pictureinput')?.invalid"
            [class.border-gray-200]="!(productsForm.get('pictureinput')?.touched && productsForm.get('pictureinput')?.invalid)">
            <img *ngIf="imageSrcbottom" [src]="imageSrcbottom" class="h-full object-contain rounded-md" />
            <div *ngIf="!imageSrcbottom" class="text-gray-400 text-3xl">
              <img src="assets/icons/upload.svg" alt="" />
            </div>
          </div>
          <div *ngIf="productsForm.get('pictureinput')?.touched && productsForm.get('pictureinput')?.invalid"
            class="text-red-500 text-xs mt-1">
            PAN image is required
          </div>
          <button type="button" (click)="panInput.click()"
            class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
            Upload PAN
          </button>
          <input #panInput type="file" formControlName="pictureinput" accept="image/*" class="hidden"
            (change)="onFileSelectBottom($event)" />
        </div>
        <div>
          <label class="text-sm text-[#050914]">
            Aadhaar/DL/Passport <span class="text-primary">*</span>
          </label>
          <div class="mt-2 border rounded-lg h-32 flex items-center justify-center bg-white"
            [class.border-red-500]="productsForm.get('pictureinput1')?.touched && productsForm.get('pictureinput1')?.invalid"
            [class.border-gray-200]="!(productsForm.get('pictureinput1')?.touched && productsForm.get('pictureinput1')?.invalid)">
            <img *ngIf="imageSrcbottom1" [src]="imageSrcbottom1" class="h-full object-contain rounded-md" />
            <div *ngIf="!imageSrcbottom1" class="text-gray-400 text-3xl">
              <img src="assets/icons/upload.svg" alt="" />
            </div>
          </div>
          <div *ngIf="productsForm.get('pictureinput1')?.touched && productsForm.get('pictureinput1')?.invalid"
            class="text-red-500 text-xs mt-1">
            Document is required
          </div>
          <button type="button" (click)="aadhaarInput.click()"
            class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
            Upload Document
          </button>
          <input #aadhaarInput type="file" formControlName="pictureinput1" accept="image/*" class="hidden"
            (change)="onFileSelectBottoms($event)" />
          <input id="textaa" name="color1" type="text" class="mim" formControlName="imgcolor1" style="display: none;">
          <input type="button" class="remove-button" (click)="removeColumn('column1')" value="-" style="display: none;">
        </div>
        <div>
          <label class="text-sm text-[#050914]"> GSTIN Certificate </label>
          <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
            <img *ngIf="imageSrcbottom2" [src]="imageSrcbottom2" class="h-full object-contain rounded-md" />
            <div *ngIf="!imageSrcbottom2" class="text-gray-400 text-3xl">
              <img src="assets/icons/upload.svg" alt="" />
            </div>
          </div>
          <button type="button" (click)="gstinInput.click()"
            class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
            Upload Certificate
          </button>
          <input #gstinInput type="file" formControlName="pictureinput2" accept="image/*" class="hidden"
            (change)="onFileSelectBottom2($event)" />
        </div>
      </div>

      <div class="mt-2 flex items-start gap-2">
        <input type="checkbox" name="" id="" class="mt-1 shrink-0" />
        <p class="text-sm text-[#050914]">
          By Submiting, you agree to our
          <a href="" class="text-primary hover:underline"> Terms of Service </a>
          and
          <a href="" class="text-primary hover:underline"> Privacy Policy. </a>
        </p>
      </div>
      <button
        class="bg-[#006842] text-white hover:bg-secondary hover:text-primary font-medium w-full md:w-1/2 cursor-pointer rounded-md p-2 mt-6">
        Submit
      </button>
    </div>
  </section>

</form>