*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
::selection{
background: #c51724;
color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}
tr{
  border: 1px solid #c51724;
}
th{
  border: 1px solid #c51724;
}
td{
  border: 1px solid #c51724;
}
tr:nth-child(even){background-color: #f2f2f2}
table{
  border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: 1px solid #ddd;
text-align: center;
padding: 0px 20px;
}
th{
  font-family: lato;
}
tr td tr td{
  
  font-family: lato;
}
.disabled-link {
pointer-events: none;
color: gray; /* You can adjust the color to visually indicate the link is disabled */
text-decoration: none;
cursor: not-allowed;
}


td img:hover{
  transform: scale(3.5);
}
span{
  font-family: lato;
}
table {
  border-collapse: collapse;
  width: 100%;
  
}
tr td th{
  border: 1px solid #c51724;
}
tr td{
  border: 1px solid #c51724;
}
td tr td{
  border: 1px solid #c51724;
  width: 100%;
}
.pd{
  padding:110px 30px 80px 30px; 
}
.over{
overflow-x:auto;
}



















@media only screen and (max-width: 600px) {
 table{
  table-layout: fixed;
 }
 th{
  font-family: lato;
font-size: 4px;
line-height: 9px;
}
td{
font-size: 4px;
line-height: 11px;
}
th, td{
text-align: left;
padding: 2px;
}
.ct1{
width: 47px;
}
.ct2{
width: 44px;
}
.ct3{
width: 30px;
}
.ct4{
width: 30px;
}
.ct6{
width: 24px;
}
.over{
overflow-x:hidden;
}
}