<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="card-title">Recent Orders</h4>

      <a href="javascript:void(0)" class="btn btn-sm btn-primary">
        <i class="bx bx-plus me-1"></i>Create Order
      </a>
    </div>
  </div>
  <!-- end card body -->
  <div class="table-responsive table-centered">
    <table class="table mb-0">
      <thead class="bg-light bg-opacity-50">
        <tr>
          <th class="border-0 py-2">Order ID.</th>
          <th class="border-0 py-2">Date</th>
          <th class="border-0 py-2">Customer Name</th>
          <th class="border-0 py-2">Phone No.</th>
          <th class="border-0 py-2">Address</th>
          <th class="border-0 py-2">Payment Type</th>
          <th class="border-0 py-2">Status</th>
        </tr>
      </thead>
      <!-- end thead-->
      <tbody>
        <tr>
          <td><a href="javascript:void(0)">#TZ5625</a></td>
          <td>29 April 2024</td>
          <td><a href="javascript:void(0)">Anna M. Hines</a></td>
          <td>(+1)-555-1564-261</td>
          <td>Burr Ridge/Illinois</td>
          <td>Credit Card</td>
          <td><i class="bx bxs-circle text-success me-1"></i>Completed</td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)">#TZ9652</a></td>
          <td>25 April 2024</td>
          <td><a href="javascript:void(0)">Judith H. Fritsche</a></td>
          <td>(+57)-305-5579-759</td>
          <td>SULLIVAN/Kentucky</td>
          <td>Credit Card</td>
          <td><i class="bx bxs-circle text-success me-1"></i>Completed</td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)">#TZ5984</a></td>
          <td>25 April 2024</td>
          <td><a href="javascript:void(0)">Peter T. Smith</a></td>
          <td>(+33)-655-5187-93</td>
          <td>Yreka/California</td>
          <td>Pay Pal</td>
          <td><i class="bx bxs-circle text-success me-1"></i>Completed</td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)">#TZ3625</a></td>
          <td>21 April 2024</td>
          <td><a href="javascript:void(0)">Emmanuel J. Delcid</a></td>
          <td>(+30)-693-5553-637</td>
          <td>Atlanta/Georgia</td>
          <td>Pay Pal</td>
          <td><i class="bx bxs-circle text-primary me-1"></i>Processing</td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)">#TZ8652</a></td>
          <td>18 April 2024</td>
          <td><a href="javascript:void(0)">William J. Cook</a></td>
          <td>(+91)-855-5446-150</td>
          <td>Rosenberg/Texas</td>
          <td>Credit Card</td>
          <td><i class="bx bxs-circle text-primary me-1"></i>Processing</td>
        </tr>
      </tbody>
      <!-- end tbody -->
    </table>
    <!-- end table -->
  </div>
  <!-- table responsive -->
  <div
    class="align-items-center justify-content-between row g-0 text-center text-sm-start p-3 border-top"
  >
    <div class="col-sm">
      <div class="text-muted">
        Showing <span class="fw-semibold">5</span> of
        <span class="fw-semibold">90,521</span> orders
      </div>
    </div>
    <div class="col-sm-auto mt-3 mt-sm-0">
      <ul class="pagination pagination-rounded m-0">
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link"
            ><i class="bx bx-left-arrow-alt"></i
          ></a>
        </li>
        <li class="page-item active">
          <a href="javascript:void(0);" class="page-link">1</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link">2</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link">3</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link"
            ><i class="bx bx-right-arrow-alt"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end card -->
