<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

<div class="container pt-5 pbbb">
    <div class="row">
        <div class="col-lg-6">
            <div class="paddingtop">
                <h3> Adding Department</h3>
                <form [formGroup]="formsize" (ngSubmit)="onSubmit()">
                    <label> Department Name </label>
                    <input type="text" formControlName="deptname" class="inp"> <br><br>

        <label> company_id </label>
            <select
            formControlName="company_id"
            class="inp"
            (change)="onCompanyChange($event)"
            >
            <option value="">-- Select Company --</option>

            <option *ngFor="let company of allallcompany" [value]="company.id">
                {{ company.companyName }}
            </option>
            </select>


                 <label> Company Name </label>
                    <input type="text" formControlName="company_name" class="inp"> <br><br>




                    
                    <input type="submit" [disabled]="!formsize.valid" value="Add Department" class="btn">
                </form>
            </div>
        </div>


        <div class="col-lg-6">
            <div style="display: flex; justify-content: center;">
                <table>
                    <tr>
                        <th> Department ID   </th>
                        <th> Department Name </th>
                        <th> Company ID </th>
                        <th> Department Name </th>

                    </tr>
                    <tr style="border: 1px solid red;" *ngFor="let item of departments; let i = index">

                        <td>{{item.id}}</td>
                        <td>{{item.deptname}}</td>
                        <td>{{item.companyobj.id}}</td>
                        <td>{{item.companyobj.companyName}}</td>

                    </tr>
                </table>
            </div>


        </div>
    </div>