<app-breadcrumb title="Base UI" subTitle="Pagination" />
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Default Buttons</h5>
        <p class="card-subtitle">
          Use the button classes on an <code>&lt;a&gt;</code>,
          <code>&lt;button&gt;</code> or <code>&lt;input&gt;</code> element.
        </p>
      </div>
      <div class="card-body">
        <nav aria-label="Page navigation example ">
          <ngb-pagination [collectionSize]="30" class="mb-2 pagination">
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </nav>
        <nav aria-label="Page navigation example">
          <ngb-pagination [collectionSize]="30" class="pagination mb-0" />
        </nav>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Rounded Pagination</h5>
        <p class="card-subtitle">
          Simple pagination inspired by Rdio, great for apps and search results.
        </p>
      </div>
      <div class="card-body">
        <nav aria-label="Page navigation example">
          <ngb-pagination
            [collectionSize]="30"
            class="mb-2 pagination pagination-rounded"
          >
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </nav>
        <nav aria-label="Page navigation example">
          <ngb-pagination
            [collectionSize]="30"
            class="pagination pagination-rounded mb-0"
          >
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Alignment</h5>
        <p class="card-subtitle">
          Change the alignment of pagination components with flexbox utilitie
        </p>
      </div>
      <div class="card-body">
        <nav aria-label="Page navigation example">
          <ngb-pagination
            [collectionSize]="30"
            class="mb-2 pagination justify-content-center"
          >
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </nav>

        <nav aria-label="Page navigation example">
          <ngb-pagination
            [collectionSize]="30"
            class="pagination justify-content-end mb-0"
          >
            <ng-template ngbPaginationPrevious>Previous</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Sizing</h5>
        <p class="card-subtitle">
          Add <code>.pagination-lg</code> or <code>.pagination-sm</code> for
          additional sizes.
        </p>
      </div>
      <div class="card-body">
        <nav aria-label="...">
          <ngb-pagination
            class="pagination mb-2"
            [collectionSize]="30"
            [directionLinks]="false"
            [size]="'lg'"
          />
        </nav>
        <nav aria-label="...">
          <ngb-pagination
            [collectionSize]="30"
            class="pagination mb-2"
            [directionLinks]="false"
            size="md"
          />
        </nav>
        <nav aria-label="...">
          <ngb-pagination
            [collectionSize]="30"
            class="pagination"
            [directionLinks]="false"
            [size]="'sm'"
          />
        </nav>
      </div>
    </div>
    <!-- end card body -->
  </div>
  <!-- end card -->
</div>
<!-- end row -->
