<app-breadcrumb title="TRP Insider" subTitle="Chart" />
<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Line with Data Labels</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-line-1" class="apex-charts">
            <apx-chart
              [grid]="lineChart.grid!"
              [title]="lineChart.title!"
              [chart]="lineChart.chart!"
              [fill]="lineChart.fill!"
              [series]="lineChart.series!"
              [stroke]="lineChart.stroke!"
              [markers]="lineChart.markers!"
              [legend]="lineChart.legend!"
              [responsive]="lineChart.responsive!"
              [xaxis]="lineChart.markers!"
              [yaxis]="lineChart.yaxis!"
              [colors]="lineChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Gradient Line Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-line-2" class="apex-charts">
            <apx-chart
              [grid]="gradiantChart.grid!"
              [title]="gradiantChart.title!"
              [chart]="gradiantChart.chart!"
              [fill]="gradiantChart.fill!"
              [series]="gradiantChart.series!"
              [stroke]="gradiantChart.stroke!"
              [markers]="gradiantChart.markers!"
              [legend]="gradiantChart.legend!"
              [responsive]="gradiantChart.responsive!"
              [xaxis]="gradiantChart.markers!"
              [yaxis]="gradiantChart.yaxis!"
              [colors]="gradiantChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row -->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Stacked Area</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-area" class="apex-charts">
            <apx-chart
              [grid]="stackedArea.grid!"
              [title]="stackedArea.title!"
              [chart]="stackedArea.chart!"
              [fill]="stackedArea.fill!"
              [series]="stackedArea.series!"
              [stroke]="stackedArea.stroke!"
              [dataLabels]="stackedArea.dataLabels!"
              [legend]="stackedArea.legend!"
              [xaxis]="stackedArea.markers!"
              [colors]="stackedArea.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Basic Column Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-column-1" class="apex-charts">
            <apx-chart
              [grid]="columnChart.grid!"
              [tooltip]="columnChart.tooltip!"
              [chart]="columnChart.chart!"
              [fill]="columnChart.fill!"
              [series]="columnChart.series!"
              [dataLabels]="columnChart.dataLabels!"
              [plotOptions]="columnChart.plotOptions!"
              [legend]="columnChart.legend!"
              [responsive]="columnChart.responsive!"
              [xaxis]="columnChart.xaxis!"
              [yaxis]="columnChart.yaxis!"
              [colors]="columnChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row -->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Column Chart with Datalabels</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-column-2" class="apex-charts">
            <apx-chart
              [grid]="column2Chart.grid!"
              [tooltip]="column2Chart.tooltip!"
              [chart]="column2Chart.chart!"
              [fill]="column2Chart.fill!"
              [series]="column2Chart.series!"
              [dataLabels]="column2Chart.dataLabels!"
              [plotOptions]="column2Chart.plotOptions!"
              [legend]="column2Chart.legend!"
              [responsive]="column2Chart.responsive!"
              [xaxis]="column2Chart.xaxis!"
              [yaxis]="column2Chart.yaxis!"
              [colors]="column2Chart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Mixed Chart - Line & Area</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-mixed-1" class="apex-charts">
            <apx-chart
              [grid]="mixedChart.grid!"
              [tooltip]="mixedChart.tooltip!"
              [chart]="mixedChart.chart!"
              [fill]="mixedChart.fill!"
              [series]="mixedChart.series!"
              [stroke]="mixedChart.stroke!"
              [xaxis]="mixedChart.xaxis!"
              [yaxis]="mixedChart.yaxis!"
              [colors]="mixedChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row -->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Basic Bar Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-bar-1" class="apex-charts">
            <apx-chart
              [grid]="barChart.grid!"
              [plotOptions]="barChart.plotOptions!"
              [dataLabels]="barChart.dataLabels!"
              [chart]="barChart.chart!"
              [fill]="barChart.fill!"
              [series]="barChart.series!"
              [stroke]="barChart.stroke!"
              [xaxis]="barChart.xaxis!"
              [colors]="barChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Bar with Negative Values</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-bar-2" class="apex-charts">
            <apx-chart
              [grid]="bar2Chart.grid!"
              [plotOptions]="bar2Chart.plotOptions!"
              [dataLabels]="bar2Chart.dataLabels!"
              [chart]="bar2Chart.chart!"
              [fill]="bar2Chart.fill!"
              [series]="bar2Chart.series!"
              [stroke]="bar2Chart.stroke!"
              [xaxis]="bar2Chart.xaxis!"
              [colors]="bar2Chart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row -->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Line, Column & Area Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-mixed-2" class="apex-charts">
            <apx-chart
              [grid]="mixed2Chart.grid!"
              [plotOptions]="mixed2Chart.plotOptions!"
              [dataLabels]="mixed2Chart.dataLabels!"
              [chart]="mixed2Chart.chart!"
              [fill]="mixed2Chart.fill!"
              [series]="mixed2Chart.series!"
              [stroke]="mixed2Chart.stroke!"
              [xaxis]="mixed2Chart.xaxis!"
              [colors]="mixed2Chart.colors!"
              [labels]="mixed2Chart.labels!"
              [markers]="mixed2Chart.markers!"
              [legend]="mixed2Chart.markers!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Scatter (XY) Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-scatter-1" class="apex-charts">
            <apx-chart
              [grid]="scatterChart.grid!"
              [plotOptions]="scatterChart.plotOptions!"
              [dataLabels]="scatterChart.dataLabels!"
              [chart]="scatterChart.chart!"
              [fill]="scatterChart.fill!"
              [series]="scatterChart.series!"
              [stroke]="scatterChart.stroke!"
              [xaxis]="scatterChart.xaxis!"
              [colors]="scatterChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Scatter Chart - Datetime</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-scatter-2" class="apex-charts">
            <apx-chart
              [grid]="scatterChart2.grid!"
              [plotOptions]="scatterChart2.plotOptions!"
              [dataLabels]="scatterChart2.dataLabels!"
              [chart]="scatterChart2.chart!"
              [fill]="scatterChart2.fill!"
              [series]="scatterChart2.series!"
              [stroke]="scatterChart2.stroke!"
              [xaxis]="scatterChart2.xaxis!"
              [colors]="scatterChart2.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Simple Candlestick Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-candlestick-1" class="apex-charts">
            <apx-chart
              [grid]="candlestickChart.grid!"
              [plotOptions]="candlestickChart.plotOptions!"
              [dataLabels]="candlestickChart.dataLabels!"
              [chart]="candlestickChart.chart!"
              [fill]="candlestickChart.fill!"
              [series]="candlestickChart.series!"
              [stroke]="candlestickChart.stroke!"
              [xaxis]="candlestickChart.xaxis!"
              [colors]="candlestickChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Combo Candlestick Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div class="pt-3">
            <div id="apex-candlestick-2" class="apex-charts">
              <apx-chart
                [grid]="candlestickChart2.grid!"
                [plotOptions]="candlestickChart2.plotOptions!"
                [dataLabels]="candlestickChart2.dataLabels!"
                [chart]="candlestickChart2.chart!"
                [fill]="candlestickChart2.fill!"
                [series]="candlestickChart2.series!"
                [stroke]="candlestickChart2.stroke!"
                [xaxis]="candlestickChart2.xaxis!"
                [colors]="candlestickChart2.colors!"
              ></apx-chart>
            </div>
            <div id="apex-candlestick-3" class="apex-charts">
              <apx-chart
                [grid]="candlestickChart3.grid!"
                [plotOptions]="candlestickChart3.plotOptions!"
                [dataLabels]="candlestickChart3.dataLabels!"
                [chart]="candlestickChart3.chart!"
                [fill]="candlestickChart3.fill!"
                [series]="candlestickChart3.series!"
                [stroke]="candlestickChart3.stroke!"
                [xaxis]="candlestickChart3.xaxis!"
                [colors]="candlestickChart3.colors!"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Simple Pie Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-pie-1" class="apex-charts">
            <apx-chart
              [grid]="pieChart.grid!"
              [chart]="pieChart.chart!"
              [legend]="pieChart.legend!"
              [responsive]="pieChart.responsive!"
              [series]="pieChart.series!"
              [colors]="pieChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Gradient Donut Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-pie-2" class="apex-charts">
            <apx-chart
              [fill]="pieChart2.fill!"
              [chart]="pieChart2.chart!"
              [legend]="pieChart2.legend!"
              [responsive]="pieChart2.responsive!"
              [series]="pieChart2.series!"
              [colors]="pieChart2.colors!"
              [labels]="pieChart2.labels!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Patterned Donut Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-pie-3" class="apex-charts">
            <apx-chart
              [grid]="pieChart3.grid!"
              [chart]="pieChart3.chart!"
              [legend]="pieChart3.legend!"
              [responsive]="pieChart3.responsive!"
              [series]="pieChart3.series!"
              [colors]="pieChart3.colors!"
              [labels]="pieChart3.labels!"
              [dataLabels]="pieChart3.dataLabels!"
              [fill]="pieChart3.fill!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Basic RadialBar Chart</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-radialbar-1" class="apex-charts">
            <apx-chart
              [chart]="radialChart.chart!"
              [plotOptions]="radialChart.plotOptions!"
              [labels]="radialChart.labels!"
              [series]="radialChart.series!"
              [colors]="radialChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Multiple RadialBars</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-radialbar-2" class="apex-charts">
            <apx-chart
              [chart]="radialChart.chart!"
              [plotOptions]="radialChart.plotOptions!"
              [labels]="radialChart.labels!"
              [series]="radialChart.series!"
              [colors]="radialChart.colors!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Stroked Circular Guage</h4>
      </div>

      <div class="card-body">
        <div dir="ltr">
          <div id="apex-radialbar-3" class="apex-charts">
            <apx-chart
              [chart]="radialChart3.chart!"
              [stroke]="radialChart3.stroke!"
              [plotOptions]="radialChart3.plotOptions!"
              [labels]="radialChart3.labels!"
              [series]="radialChart3.series!"
              [colors]="radialChart3.colors!"
              [fill]="radialChart3.fill!"
              [labels]="radialChart3.labels!"
              [responsive]="radialChart3.responsive!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Sparkline Charts</h4>
      </div>
      <div class="card-body">
        <div dir="ltr">
          <div class="row pt-3">
            <div class="col-md-4">
              <div id="spark1" class="apex-charts mb-sm-0 mb-4">
                <apx-chart
                  [subtitle]="spark1Chart.subtitle!"
                  [title]="spark1Chart.title!"
                  [chart]="spark1Chart.chart!"
                  [fill]="spark1Chart.fill!"
                  [series]="spark1Chart.series!"
                  [stroke]="spark1Chart.stroke!"
                  [yaxis]="spark1Chart.yaxis!"
                  [colors]="spark1Chart.colors!"
                ></apx-chart>
              </div>
            </div>
            <div class="col-md-4">
              <div id="spark2" class="apex-charts mb-sm-0 mb-4">
                <apx-chart
                  [subtitle]="spark2Chart.subtitle!"
                  [title]="spark2Chart.title!"
                  [chart]="spark2Chart.chart!"
                  [fill]="spark2Chart.fill!"
                  [series]="spark2Chart.series!"
                  [stroke]="spark2Chart.stroke!"
                  [yaxis]="spark2Chart.yaxis!"
                  [colors]="spark2Chart.colors!"
                ></apx-chart>
              </div>
            </div>
            <div class="col-md-4">
              <div id="spark3" class="apex-charts">
                <apx-chart
                  [subtitle]="spark3Chart.subtitle!"
                  [title]="spark3Chart.title!"
                  [chart]="spark3Chart.chart!"
                  [fill]="spark3Chart.fill!"
                  [series]="spark3Chart.series!"
                  [stroke]="spark3Chart.stroke!"
                  [yaxis]="spark3Chart.yaxis!"
                  [colors]="spark3Chart.colors!"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row -->
