<div class="container-fluid main">
    <div class="row2">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
            <div class="mb-4">
              <label class="mb-2" style="font-weight: 500;font-size:16px;">Mobile Number</label>
              <input type="number" class="form-control input" id="phone" name="mobile" placeholder="Enter phone number" min="1" formControlName="mobile" (keypress)="alphanumber($event)">
              <div *ngIf="registerForm.get('mobile').hasError('required')">
              <!-- <span class="error-message">  Mobile is required </span> -->
              </div>
              <div *ngIf="registerForm.get('mobile').hasError('positiveNumber')">
              <!-- <span class="error-message">  Mobile must be a positive number </span> -->
              </div>
              <div *ngIf="registerForm.get('mobile').hasError('length10')">
              <span class="error-message"> Mobile should have exactly 10 digits </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="mb-2" style="font-weight: 500;font-size:16px;">Name</label>
              <input type="text" class="form-control input" id="name" name="name"   placeholder="Enter Name" formControlName="firstName" (keypress)="alpha($event)">
            </div>
            <div class="mb-4">
              <label class="mb-2" style="font-weight: 500;font-size:16px;">Shop Name</label>
                <input type="text" class="form-control input" id="shopname" name="shopname" placeholder="Enter ShopName" formControlName="shopname">
              </div>
           <div class="row mt-4" style="text-align: center;">
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn" [disabled]="!registerForm.valid">Register</button>
            </div>
            <div class="col"></div>
           </div>
          </form>
    </div>
  </div>