.row2{
    display: flex;
    justify-content: center;
    padding: 0px 40px;
   
}
::selection{
  background: #c51724;
  color: #fff;
}
.main{
   
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
  padding: 20px 25px 21px 19px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #5d5d5d;
  width: 419px;
  }
  .btn{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 55px;
    font-size: 17px;
    border-radius: 8px;
  }
  .mb-3{
    margin-bottom: 20px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: 1px solid #c51724;
    box-shadow: 0px 0px 0px 0px;
}


.error-message {
  color: #c51724;
}






























@media only screen and (max-width: 600px) {
    .input{
      width: 100%;
      padding: 12px 83px 12px 12px;
          
      }
      .main{
    height: 92vh;
      }
      
  }
