

<div class="container-fluid main">
    <div class="row2">
       <div class="col">
        <!-- <h3><span>Name:</span> {{productData.firstName}}</h3>
        <h3><span>Mobile No.</span> {{productData.mobile}}</h3>
        <h3><span>Shop Name:</span> {{productData.shopname}}</h3>
        <h3><span>OTP:</span> {{productData.otp}}</h3> -->
        <table style="width:100%;">
         <tbody>
            <tr>
               <td><span>Name</span></td>
               <td>{{productData.firstName}}</td>
            </tr>
            <tr>
               <td><span>Mobile No</span></td>
               <td>{{productData.mobile}}</td>
            </tr>
            <tr>
               <td><span>Shop Name</span></td>
               <td>{{productData.shopname}}</td>
            </tr>
            <tr>
               <td><span>OTP</span></td>
               <td>{{productData.otp}}</td>
            </tr>
         </tbody>
        </table>

       </div>
    </div>
  </div>