.row2{
    display: flex;
    justify-content: center;
    padding: 120px 0px;
    background: #fff;
   
}
::selection{
  background: #c51724;
  color: #fff;
}

.row2 h3{
  color:#000;
  font-family: lato;
}
.main{
    background: #fff;
   
   
}
.input{
    padding: 15px 157px 20px 19px;
      font-size: 17px;
      font-weight: 600;
      border-radius: 9px;
      border: none;
  }
  .btn{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 43px;
    font-size: 19px;
    border-radius: 13px;
  }
  .mb-3{
    margin-bottom: 20px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: 2px solid #c51724;
}
td span{
  color: #c51724;
}
tr td{
  border: 1px solid #c51724;
padding:20px 10px;
}
































@media only screen and (max-width: 600px) {
    .input{
        padding: 20px 33px 20px 19px;
          
      }
     
      
  }
