::selection {
  background: #c51724;
  color: #fff;
}

h3 {
  font-family: lato;
  font-size: 17px;
}

h3 span {
  color: #c51724;
}

.pd {
  padding: 28px 48px 100px 48px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

tr img {
  width: 50px;
}

tr {
  border: 1px solid #c51724;
}

th {
  border: 1px solid #c51724;
}

td {
  border: 1px solid #c51724;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 0px 20px;
}

th {
  font-family: lato;
}

tr td tr td {

  font-family: lato;
}

td img:hover {
  transform: scale(3.5);
}

span {
  font-family: lato;
}

table {
  border-collapse: collapse;
  width: 100%;

}

tr td th {
  border: 1px solid #c51724;
}

tr td {
  border: 1px solid #c51724;
}

td tr td {
  border: 1px solid #c51724;
  width: 100%;
}



.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

}

.sticky {
  padding: 15px 0px;
  text-align: center;
  background: #F6F5FD;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.footerimage {
  width: 38px;
}

.row5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 20px 10px;
}

.back {
  background: #c51724;
  padding: 20px 40px;
}

.logo {
  width: 200px;
}

#datatable_filter {
  color: #000;
  font-family: lato;
  font-size: 25px;
}

input[type=search] {
  padding: 20px;
}

tr td tr {
  border: 1px solid #e5e5e5;
}

td tr td {
  border: 1px solid #e5e5e5;
}

td tr th {
  border: 1px solid #e5e5e5;
}

td tr th {
  border: none !important;
}

.over {
  overflow-x: scroll;
}

.PrintInvoice {
  text-align: center;
  margin-top: 10%;
}








@media only screen and (max-width: 600px) {
  h3 {
    font-family: lato;
    font-size: 7px;
    line-height: 9px;
  }
.orderheading{
  font-size: 12px;
}
  .pd {
    padding: 46px 0px 0px 0px;
  }

  .PrintInvoice {
    margin-top: 30% !important;
  }

  .back {
    background: #c51724;
    padding: 5px 0px;
  }

  table.dataTable thead .sorting {
    background-image: none;
  }

  table.dataTable thead .sorting_desc {
    background-image: none;
  }

  table.dataTable thead .sorting_asc {
    background-image: none;
  }

  .logo {
    width: 140px;
  }

  .footerimage {
    width: 38px;
  }

  .row5 {
    padding: 0px 0px;
    justify-content: space-around;
  }

  ul li {
    list-style: none;
    padding: 5px 10px;
  }

  table {
    table-layout: fixed;
  }

  td tr td {
    font-size: 4px;
  }

  tr td {
    font-size: 7px;
    line-height: 12px;
  }

  tr td tr th {
    font-size: 8px;
  }

  tr img {
    width: 30px;
  }

  .over {
    overflow-x: hidden;
  }

  table.dataTable thead th,
  table.dataTable thead td {
    padding: 1px 0px !important;
    border-bottom: 1px solid #111;
  }


  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 0px 0px !important;
  }

  .ct1 {
    width: 30px;
  }

  .ct2 {
    width: 52px !important;
  }

  .ct4 {
    width: 20px;
  }

  .ctttt {
    width: 25px;
  }

  table.dataTable {

    border-collapse: collapse !important;

  }

  table.dataTable,
  table.dataTable th,
  table.dataTable td {
    box-sizing: border-box !important;
  }

  tr td tr td {
    width: 22px;
  }

  table.dataTable tfoot th,
  table.dataTable tfoot td {
    padding: 10px 0px 6px 0px !important;
  }
}
