<head>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
  </script>
</head>


<div class="container-fluid ">
  <div class="row PrintInvoice" >
    <button class="btn btn-primary" onclick="printDiv()" style="display:none;">Print Invoice</button><br><br>
    <a *ngIf="ordertransactionid !== 0 && ordertransactionid !== undefined"
      href="{{imagePathpdf}}/{{ordertransactionid}}.pdf" target="_blank">
      <button class="btn btn-primary">Print Invoice</button>
    </a>
  </div>
</div>

<div class="container-fluid pd" id="pdfTable">

  <div class="container-fluid ">
    <div class="row" style="text-align: center;">
      <div class="col1">
        <span>Date : {{ currentDate | date }}</span><br>
        <span> Name : {{ otheruserdata.firstName }}</span><br>
        <span> Mobile : {{ otheruserdata.mobile }}</span><br>
        <span> Shop Name : {{ otheruserdata.shopname }}</span><br><br>
        <span>Order Transaction Id : {{ ordertransactionid}}</span>
        <button class="btn btn-primary" (click)="exportPDF();" style="display:none">Export To PDF</button><br><br>

        <h3 class="orderheading">Order form<br>
          This is only order form for future reference purposes</h3>
      </div>
    </div>
    <div class="over">
      <table id="datatable" class="row-border hover mt-3" *ngIf="dtRendered" datatable [dtOptions]="dtOptions"
        width="100%" style="padding: 0;">
        <thead>
          <tr>
            <th class="ct4">
              <h3>ID</h3>
            </th>
            <th class="ct1">
              <h3>Image</h3>
            </th>
            <th class="ct4">
              <h3>Design No</h3>
            </th>
            <th class="ct4">
              <h3>Category</h3>
            </th>
            <th class="ct4">
              <h3>Size</h3>
            </th>
            <th class="ct4">
              <h3>Set Of</h3>
            </th>
            <th class="ct2">
              <h3>Color</h3>
            </th>
            <th class="ctttt">
              <h3>Remarks</h3>
            </th>
            <th class="ct4">
              <h3>QTY</h3>
            </th>
            <th class="ct4">
              <h3>WSP</h3>
            </th>
            <th class="ct4">
              <h3>Amount</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productData">

            <td>
              <h3><span>{{item.id}}</span></h3>
            </td>

            <td>

              <img src="{{imgConfig}}/{{item.topimage}}">

            </td>
            <td>
              <h3><span>{{item.designnumber}}</span></h3>
            </td>
            <td>
              <h3><span>{{item.category}}</span></h3>
            </td>
            <td>{{item.size}}</td>
            <td>{{item.setofpic}}</td>
            <td>
          <tr>
            <th>Color</th>
            <th>Quantity</th>
          </tr>
          <tr *ngIf="item.imgcolor0 || item.additem0 > 0">
            <td>{{item.imgcolor0}}</td>
            <td>{{item.additem0}}</td>
          </tr>
          <tr *ngIf="item.imgcolor1 ||  item.additem1 > 0">
            <td>{{item.imgcolor1}}</td>
            <td>{{item.additem1}}</td>
          </tr>
          <tr *ngIf="item.imgcolor2 || item.additem2 > 0">
            <td>{{item.imgcolor2}}</td>
            <td>{{item.additem2}}</td>
          </tr>
          <tr *ngIf="item.imgcolor3 ||  item.additem3  > 0">
            <td>{{item.imgcolor3}}</td>
            <td>{{item.additem3}}</td>
          </tr>
          <tr *ngIf="item.imgcolor4 || item.additem4 > 0">
            <td>{{item.imgcolor4}}</td>
            <td>{{item.additem4}}</td>
          </tr>
          <tr *ngIf="item.imgcolor5 || item.additem5 > 0">
            <td>{{item.imgcolor5}}</td>
            <td>{{item.additem5}}</td>
          </tr>
          <tr *ngIf="item.imgcolor6 || item.additem6 > 0">
            <td>{{item.imgcolor6}}</td>
            <td>{{item.additem6}}</td>
          </tr>
          <tr *ngIf="item.imgcolor7 || item.additem7 > 0">
            <td>{{item.imgcolor7}}</td>
            <td>{{item.additem7}}</td>
          </tr>
          <tr *ngIf="item.imgcolor8 || item.additem8 > 0">
            <td>{{item.imgcolor8}}</td>
            <td>{{item.additem8}}</td>
          </tr>
          <tr *ngIf="item.imgcolor9 || item.additem9  > 0">
            <td>{{item.imgcolor9}}</td>
            <td>{{item.additem9}}</td>
          </tr>

          <tr *ngIf="item.imgcolor10 && item.additem10 > 0">
            <td>{{item.imgcolor10}}</td>
            <td>{{item.additem10}}</td>
          </tr>
          <tr *ngIf="item.imgcolor11 || item.additem11 > 0">
            <td>{{item.imgcolor11}}</td>
            <td>{{item.additem11}}</td>
          </tr>
          <tr *ngIf="item.imgcolor12 || item.additem12 > 0">
            <td>{{item.imgcolor12}}</td>
            <td>{{item.additem12}}</td>
          </tr>
          <tr *ngIf="item.imgcolor13 || item.additem13 > 0">
            <td>{{item.imgcolor13}}</td>
            <td>{{item.additem13}}</td>
          </tr>
          <tr *ngIf="item.imgcolor14 || item.additem14 > 0">
            <td>{{item.imgcolor14}}</td>
            <td>{{item.additem14}}</td>
          </tr>
          <tr *ngIf="item.imgcolor15 || item.additem15 > 0">
            <td>{{item.imgcolor15}}</td>
            <td>{{item.additem15}}</td>
          </tr>
          <tr *ngIf="item.imgcolor16 || item.additem16 > 0">
            <td>{{item.imgcolor16}}</td>
            <td>{{item.additem16}}</td>
          </tr>
          <tr *ngIf="item.imgcolor17 || item.additem17 > 0">
            <td>{{item.imgcolor17}}</td>
            <td>{{item.additem17}}</td>
          </tr>
          <tr *ngIf="item.imgcolor18 || item.additem18 > 0">
            <td>{{item.imgcolor18}}</td>
            <td>{{item.additem18}}</td>
          </tr>

          <tr *ngIf="item.imgcolor19 || item.additem19 > 0">
            <td>{{item.imgcolor19}}</td>
            <td>{{item.additem19}}</td>
          </tr>

          <tr *ngIf="item.imgcolor20 || item.additem20 > 0">
            <td>{{item.imgcolor20}}</td>
            <td>{{item.additem20}}</td>
          </tr>
          <tr *ngIf="item.imgcolor21 || item.additem21 > 0">
            <td>{{item.imgcolor21}}</td>
            <td>{{item.additem21}}</td>
          </tr>
          <tr *ngIf="item.imgcolor22 || item.additem22 > 0">
            <td>{{item.imgcolor22}}</td>
            <td>{{item.additem22}}</td>
          </tr>
          <tr *ngIf="item.imgcolor23 || item.additem23 > 0">
            <td>{{item.imgcolor23}}</td>
            <td>{{item.additem23}}</td>
          </tr>
          <tr *ngIf="item.imgcolor24 || item.additem24 > 0">
            <td>{{item.imgcolor24}}</td>
            <td>{{item.additem24}}</td>
          </tr>
          <tr *ngIf="item.imgcolor25 || item.additem25 > 0">
            <td>{{item.imgcolor25}}</td>
            <td>{{item.additem25}}</td>
          </tr>
          <tr *ngIf="item.imgcolor26 || item.additem26 > 0">
            <td>{{item.imgcolor26}}</td>
            <td>{{item.additem26}}</td>
          </tr>
          <tr *ngIf="item.imgcolor27 || item.additem27 > 0">
            <td>{{item.imgcolor27}}</td>
            <td>{{item.additem27}}</td>
          </tr>
          <tr *ngIf="item.imgcolor28 || item.additem28 > 0">
            <td>{{item.imgcolor28}}</td>
            <td>{{item.additem28}}</td>
          </tr>
          <tr *ngIf="item.imgcolor29 || item.additem29 > 0">
            <td>{{item.imgcolor29}}</td>
            <td>{{item.additem29}}</td>
          </tr>

          </td>
          <td>{{item.remarks}}</td>
          <td>{{item.totalquantity}}</td>
          <td>{{item.wsp}}</td>
          <td>{{item.wsp * item.totalquantity * item.setofpic}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7"> </td>
            <td> Total Pieces </td>
            <td><span> {{totalqty}} </span></td>
            <td> Total Amount </td>
            <td><span> {{ totalAmount }} </span></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<!-- <div class="container-fluid sticky">
    <div class="row1">
       <div class="col">
        <a routerLink="#"><img src="assets/New Design empty.svg" class="footerimage"></a>
      </div>
      <div class="col">
        <a routerLink="/userorderdetails.component">  <img src="assets/Repeat order.svg" class="footerimage"></a>
      </div>
      <div class="col">
       <a routerLink="#">  <img src="assets/Order history.svg" class="footerimage"></a>
      </div>
      <div class="col">
       <a routerLink="/login.component"> <img src="assets/My profile.svg" class="footerimage"></a>
      </div>
    </div>
  </div> -->