

<!-- 
  <app-user-header></app-user-header>
-->
<app-merchantheader></app-merchantheader>



<div class="container main">
  <!-- <div class="row mt-5 mydp">
    <div class="col-md-3 col-sm-12 mb-3">
        <a routerLink="/merchantaddproduct.component"><button type="button" class="btn btn-block">Add Products</button></a>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <a routerLink="/merchantproducts.component"><button type="button" class="btn1 btn-block">Products Overview</button></a>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <a routerLink="/merchantorders.component"><button type="button" class="btn2 btn-block">Order Details</button></a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a routerLink="/merchantuserdetails.component"><button type="button" class="btn6 btn-block">View Users Invoice</button></a>
    </div>
</div> -->
</div>

<div class="main">
    <a routerLink="/venderaddproduct.component"><div class="banner">
        <img src="assets/designers-masterpiese-group-of-fashion-designers-2022-02-02-19-58-52-utc.png" >
    </div>
  
</a> <br>

<a routerLink="/merchantuserdetails.component">
    <button type="button" class="btn1">
        <span style="font-weight: 100;">View</span><br><span style="color: #FFEE00; text-transform: uppercase;">Users Invoice</span>
    </button>
</a>
</div>


<app-merchantfooter></app-merchantfooter>






