<div class="container-fluid fixed-top back" id="mainhead">
  <div class="roww">
    <div class="col1">
      <a routerLink="/mainpage.component"><img src="assets/images/orderapplogo.svg" class="logo"></a>
    </div>
    <div class="header">

      <button class="toggle-button" (click)="toggleNotification()"  style="display: none;">
        <img [src]="showNotification ? 'assets/close1.png' : 'assets/bell.png'" alt="Toggle Items"
          style="width: 26px;">
          <span class="button-text">{{pendingForApprovgal}} </span>
      </button>
     
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button class="toggle-button" (click)="toggleItems()">
        <img [src]="showItems ? 'assets/close1.png' : 'assets/header.svg'" alt="Toggle Items"
          style="width: 26px;">
      </button>
    </div>

    
    <div class="alert alert-success alert-dismissible fade show items-container-notification ccc" role="alert" *ngIf="showNotification">
      



      <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
        <table class="table" *ngIf="notificationMessages != undefined">
          <thead>
            <tr>
              
              <th scope="col"> Approval and Rejection </th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of notificationMessages; let i = index;">
              
              <td style="text-align: left;">
                <a *ngIf="item.productapprovalstatus == 'PENDING_AT_ADMIN'" [href]="'#/view-products-for-approval.component?productid=' + item.id + '&mobile=' + item.vendormobile" style="text-decoration: none;font-size: 13px;">
                  <img [src]="imgConfig + '/' + item.topimage" style="width:50px;">
                   <span style="color: red;font-size: 17px;"> {{item.vendorname}} </span> &nbsp;&nbsp;&nbsp;  is asking admin for approval.
              </a>
              
              <a *ngIf="item.productapprovalstatus == 'PENDING_AT_VENDOR'" [href]="'#/view-products-for-approval.component?productid=' + item.id + '&mobile=' + item.vendormobile"  style="text-decoration: none;font-size: 13px;">
                <img [src]="imgConfig + '/' + item.topimage" style="width:50px; ">
                  <span style="color: red;font-size: 17px;">{{item.vendorname}}</span>  &nbsp;&nbsp;&nbsp;  is uploading new item.
            </a>
              
            </td>
              
            </tr>
          </tbody>
        </table>
      </div>
      




    </div>





    <div class="items-container" *ngIf="showItems">
      <ul>
        <li style="display: none;"><a href="tel:9811144961"><img src="assets/phone.svg" width="20px;"></a></li>
        <li style="display: none;"><a href="https://wa.link/da6uyh"><img src="assets/whatsapp.svg" width="20px;"></a></li>
        <li style="display: none;"><a href="#/adminsizes.component"><img src="assets/plus-01.svg" width="20px;"></a></li>
        <li><a href="#/logout.component"><img src="assets/Logout.svg" width="20px;"></a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container-fluid sticky" id="mainfoot" style="display: none;">
  <div class="row1">
    <div class="col">
      <a routerLink="/addproduct.component"><img src="assets/New Design empty.svg" class="footerimage1">
      </a>
      <h3 class="det">Add Product</h3>
    </div>
    <div class="col">
      <a routerLink="/products.component"> <img src="assets/Repeat order.svg" class="footerimage"></a>
      <h3 class="det">Products</h3>
    </div>
    <div class="col">
      <a routerLink="/orderdetails.component"> <img src="assets/Order history.svg" class="footerimage"></a>
      <h3 class="det">All Orders</h3>
    </div>
    <div class="col">
      <a routerLink="/registeruser.component"> <img src="assets/add user1-01.svg" class="footerimage"></a>
      <h3 class="det">Add User</h3>
    </div>

  </div>
</div>