<div class="container-fluid fixed-top back" id="mainhead">
    <div class="roww">
      <div class="col1">
        <a routerLink="/merchant.component"><img src="assets/merchantapp-01.svg" class="logo"></a>
      </div>
      <div class="header">
  
        <button class="toggle-button" (click)="toggleNotification()" >
          <img [src]="showNotification ? 'assets/close1.png' : 'assets/bell.png'" alt="Toggle Items"
          style="width: 26px;">
            <span class="button-text">{{pendingForApprovgal}}</span>
        </button>
       
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
        <button class="toggle-button" (click)="toggleItems()">
          <img [src]="showItems ? 'assets/close1.png' : 'assets/header.svg'" alt="Toggle Items"
            style="width: 26px;">
        </button>
      </div>
  
      
      <div class="alert alert-success alert-dismissible fade show items-container-notification ccc" role="alert" *ngIf="showNotification">
       
       
        <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
          <table class="table" *ngIf="notificationMessages != undefined">
            <thead>
              <tr>
               
                <th scope="col">Vendor Name</th>
                <th scope="col" class="cl3">Status</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of notificationMessages; let i = index;">
                
                <td>{{item.vendorname}}</td>
                <td>{{item.productapprovalstatus}}</td>
                <td>
                  <a href="#/merchant-approval-rejection.component?id={{item.vendorid}}&mobile={{item.vendormobile}}">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
  
  
      </div>
  
  
  
  
  
      <div class="items-container" *ngIf="showItems">
        <ul>
          <li><a href="tel:9811144961"><img src="assets/phone.svg" width="20px;"></a></li>
          <li><a href="https://wa.link/da6uyh"><img src="assets/whatsapp.svg" width="20px;"></a></li>
          <li><a href="#/logout.component"><img src="assets/Logout.svg" width="20px;"></a></li>
        </ul>
      </div>
    </div>
  </div>
 