






<head>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
  </script>

</head>

<div class="container-fluid pd">

  <!-- <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" id="searchBox" class="form-control" placeholder="Search data by design number"
            (keyup)="searchProductByIDLike($event.target)">

          &nbsp; &nbsp;&nbsp;
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <h1> 
Employee Details
</h1>

  <mat-paginator [pageSizeOptions]="[5, 10, 25,50,75 ]" [pageSize]="15" [length]="totalElements"
    (page)="nextPage($event)"> </mat-paginator>

  <div style="overflow-x: auto;">
    <table id="datatable" class="row-border hover mt-3" *ngIf="dtRendered" datatable [dtOptions]="dtOptions"
      cellspacing="0" width="100%" style="padding: 0;">

      <thead>
        <tr>
          <th>
            <h3>Employee image</h3>
          </th>
          <th>
            <h3>Employee Name </h3>
          </th>
          <th>
            <h3>Designation</h3>
          </th>
          <th>
            <h3>Department</h3>
          </th>

          <th>
            <h3>Work Mode </h3>
          </th>
          <th>
            <h3>Office Location </h3>
          </th>

          <th>
            <h3> Contact Number  </h3>
          </th>

          <th>
            <h3> Address  </h3>
          </th>
          <th>
            <h3> Country </h3>
          </th>
          <th>
            <h3> State </h3>
          </th>

          <th>
            <h3> City </h3>
          </th>

           <th>
            <h3> Pin Code  </h3>
          </th>

          <th>
            <h3> Reporting Manager </h3>
          </th>
          
           <th>
            <h3> Gender  </h3>
          </th>


          

          
           <th>
            <h3> Date of birth  </h3>
          </th>

          
           <th>
             <h3> Date of Joining  </h3>
          </th>

         
           <th>
             <h3> PAN Number  </h3>
          </th>

          
           <th>
             <h3> Aadhaar Number  </h3>
          </th>

          
           <th>
             <h3> UAN  </h3>
          </th>
          
          

          
           <th>
                <h3> PF Number  </h3>
          </th>


        <th>
                <h3> PF Joining Date  </h3>
        </th>

        
        <th>
                <h3> ESI Number  </h3>
        </th>
        

        
        <th>
                <h3> Bank Name  </h3>
        </th>

        <th>
                <h3> IFSC Code  </h3>
        </th>
  
        <th>
          <h3> Account Number </h3>
        </th>

        
        <th>
          <h3>  Account Holder Name </h3>
        </th>

        
        <th>
          <h3>  UPI ID </h3>
        </th>


        
        <th>
          <h3>  Blood Group of Employee </h3>
        </th>
        

        
        <th>
          <h3>  Emergency Contact Person’s Name </h3>
        </th>
      
        
        <th>
          <h3>  Relation </h3>
        </th>
    
        
        <th>
          <h3>  Contact Number </h3>
        </th>

        
        <th>
          <h3>  Type of Employment </h3>
        </th>


        
        <th>
          <h3>  Monthly Fixed Salary </h3>
        </th>

        
        <th>
          <h3>  Minimum Guaranteed Salary </h3>
        </th>
      
        
        <th>
          <h3>  Monthly Target Value </h3>
        </th>
         

        <th>
          <h3>  Commission Type </h3>
        </th>

        
        <th>
          <h3>  Commission Rate </h3>
        </th>
        
          
          
          <th>
            <h3>Action</h3>
          </th>
          <th>
            <h3>Action</h3>
          </th>
          <th>
            <h3>Action</h3>
          </th>
          <th>
            <h3>Action</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productData">
          <td>
  <img
    class="topimage"
    [src]="imgConfig + '/' + item.employeepicupload"
    alt="Company Logo"
  >
</td>
          <td>
            <h3> <span> {{item.name}} </span></h3>
          </td>
          <td>
            <h3><span>{{item.designation}} </span></h3>
          </td>

          <td>
            <h3><span>{{item.department}} </span></h3> 

          </td>
         
          <td>
            <h3><span>{{item.workmode}} </span></h3> 
          </td>

          <td>
            <h3><span>{{item.officelocation}} </span></h3> 
          </td>

          <td>
            <h3><span>{{item.contactnumber}} </span></h3> 
          </td>

          <td>
            <h3><span>{{item.address}} </span></h3> 
          </td>
          
          
          <td>
            <h3><span>{{item.country}} </span></h3> 
          </td>

          
          <td>
            <h3><span>{{item.state}} </span></h3> 
          </td>
          
          
          <td>
            <h3><span>{{item.city}} </span></h3> 
          </td>
          
          
          <td>
            <h3><span>{{item.pincode}} </span></h3> 
          </td>

          
          <td>
            <h3><span>{{item.reportingmanager}} </span></h3> 
          </td>

          <td>
            <h3><span>{{item.gender}} </span></h3> 
          </td>
          

            <td>
            <h3><span>{{item.dateofbirth}} </span></h3>
            </td>
          

            
            <td>
              <h3><span>{{item.dateofjoining}}</span></h3>
            </td>
            

            
            <td>
              <h3><span>{{item.pannumber}}</span></h3>
            </td>
            


            <td>
              <h3><span> {{item.aadhaarnumber}} </span></h3>
            </td>


            
            <td>
              <h3><span> {{item.uan}} </span></h3>
            </td>

            
            <td>
              <h3><span> {{item.pfnumber}} </span></h3>
            </td>

            
            
            <td>
              <h3><span> {{item.pfjoiningdate}} </span></h3>
            </td>

            
            <td>
              <h3><span> {{item.esinumber}} </span></h3>
            </td>

            <td>
              <h3><span> {{item.nameofbank}} </span></h3>
            </td>
            
            <td>
              <h3><span> {{item.ifsccode}} </span></h3>
            </td>

            
            <td>
              <h3><span> {{item.accountnumber}} </span></h3>
            </td>

            
            <td>
              <h3><span> {{item.nameofaccountholder}} </span></h3>
            </td>
            
            
            <td>
              <h3><span> {{item.upiid}} </span></h3>
            </td>
            

            
            <td>
              <h3><span> {{item.bloodgroupofemployee}} </span></h3>
            </td>

            
            <td>
              <h3><span> {{item.emergencycontactpersonname}} </span></h3>
            </td>

            

            <td>
              <h3><span> {{item.relation}} </span></h3>
            </td>

            
            <td>
              <h3><span> {{item.relationcontactnumber}} </span></h3>
            </td>
            

            
            <td>
               <h3><span> {{item.typeofemployment}} </span></h3>
            </td>


            
            <td>
               <h3><span> {{item.monthlyfixedsalary}} </span></h3>
            </td>

            <td>
               <h3><span> {{item.minimumguaranteedsalary}} </span></h3>
            </td>
            
            <td>
               <h3><span> {{item.monthlytargetvalue}} </span></h3>
            </td>


            <td>
               <h3><span> {{item.commissiontype}} </span></h3>
            </td>

            <td>
               <h3><span> {{item.commissionrate}} </span></h3>
            </td>
           


            

          <td><input class="btn btn-primary" type="button" (click)="deleteProd(item.id)" value="Delete"> </td>
          <td><a class="btn btn-primary" href="#/updateemployee.component?id={{item.id}}"> Edit</a></td>
          <td> <a class="btn btn-primary wdt" href="{{imgConfig}}/{{item.qrfile}}" target="_blank">View QR Image</a>
          </td>

          <td> <input type="button" class="btn btn-primary"
              (click)="DownloadProfilePic(imgConfig+'/'+item.qrfile,item.qrfile, item.designnumber)" value="Download">
          </td>
        </tr>
      </tbody>
    </table>




  </div>

</div>