<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container pt-5 pbbb">
    <div class="row">
        <div class="col-lg-6">
            <div class="paddingtop">
                <h3> Adding Work Mode</h3>
                <form [formGroup]="formsize" (ngSubmit)="onSubmit()">
                    <label> Work Mode Name </label>
                    <input type="text" formControlName="workmodename" class="inp"> <br><br>

       
                    

                    
                    <input type="submit" [disabled]="!formsize.valid" value="Add Master" class="btn">
                </form>
            </div>
        </div>

<div class="col-lg-6">
  <div style="display: flex; justify-content: center;">
    <table border="1">
      <thead>
        <tr>
          <th>Work Mode ID</th>
          <th>Work Mode Name</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of allworkmode; let i = index">
          <td>{{ item.id }}</td>
          <td> {{ item.workmodename }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



        </div>
    </div>