<head>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
  </script>

</head>
<app-merchantheader></app-merchantheader>
<br>
<div class="content tttb">
  <h2>Vendor Details</h2>
  <h2>Click on the buttons inside the tabbed menu : </h2>
</div>

<div class="tab tttb">

  <button class="tablinks active" onclick="openCity(event, 'Tokyo')">Shop Name</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Without Mobile</button>
  <button class="tablinks " onclick="openCity(event, 'London')">With Mobile</button>
</div>

<div id="London" class="tabcontent">
  <div class="container-fluid" style="padding: 30px 30px 100px 30px; ">
    <div style="overflow-x: auto;">
      <table id="datatable" class="row-border hover mt34" *ngIf="dtRendered" datatable [dtOptions]="dtOptions" width="100%"
        style="padding: 0; ">
        <thead>

          <tr>
            <th>
              <h3>#</h3>
            </th>
            <th>
              <h3>ID</h3>
            </th>
            <th>
              <h3>Image</h3>
            </th>
            <th>
              <h3>Design No</h3>
            </th>
            <th>
              <h3>Mobile </h3>
            </th>
            <th>
              <h3>Category</h3>
            </th>
            <th>
              <h3>Size</h3>
            </th>
            <th>
              <h3>Set Of</h3>
            </th>
            <th>
              <h3>Color / Quantity </h3>
            </th>
            <th>
              <h3>Total Qty</h3>
            </th>
            <th>
              <h3>WSP</h3>
            </th>
            <th>
              <h3>Total Amount</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderData; let index = index;">

            <td>
              <h3><span>{{index}}</span></h3>
            </td>

            <td *ngIf="item.id">
              <h3><span>{{item.id}}</span></h3>
            </td>
            <!-- <td *ngIf="!item.id"> </td> -->

            <td *ngIf="item.topimage"> <img src="{{imgConfig}}/{{item.topimage}}"> </td>
            <!-- <td *ngIf="!item.topimage"> </td> -->



            <td *ngIf="item.designnumber">
              <h3><span>{{item.designnumber}}</span></h3>
            </td>
            <td *ngIf="!item.designnumber">
              <h3><span>{{item.designnumber}}</span></h3>
            </td>



            <td *ngIf="item.usermobile">
              <h3>
                <button class="btn btn-primary" (click)="getPdfByMobile(item.usermobile)">
                  Get Bill: {{ item.usermobile }}
                </button>
              </h3>

            </td>


            <td *ngIf="!item.usermobile"> </td>



            <td *ngIf="item.category">
              <h3><span>{{item.category}}</span></h3>
            </td>
            <td *ngIf="!item.category"> </td>


            <td *ngIf="item.size">{{item.size}}</td>
            <td *ngIf="!item.size"></td>

            <td *ngIf="item.setofpic">{{item.setofpic}}</td>
            <td *ngIf="!item.setofpic"> </td>


            <td>
              <table>
                <tr>

                </tr>

                <tr *ngIf="item.imgcolor0 && item.additem0 > 0">
                  <td> &nbsp;&nbsp; {{item.imgcolor0}} &nbsp;&nbsp;</td>
                  <td>&nbsp;&nbsp; {{item.additem0}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="!item.imgcolor0 && !item.additem0 ">

                </tr>




                <tr *ngIf="item.imgcolor1 &&  item.additem1 > 0">
                  <td>{{item.imgcolor1}} &nbsp;&nbsp;</td>
                  <td>{{item.additem1}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="!item.imgcolor1 &&  !item.additem1 ">

                </tr>



                <tr *ngIf="item.imgcolor2 && item.additem2 > 0">
                  <td>{{item.imgcolor2}} &nbsp;&nbsp;</td>
                  <td>{{item.additem2}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>



                <tr *ngIf="!item.imgcolor2 && !item.additem2">

                </tr>



                <tr *ngIf="item.imgcolor3 &&  item.additem3  > 0">
                  <td>{{item.imgcolor3}} &nbsp;&nbsp;</td>
                  <td>{{item.additem3}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="!item.imgcolor3 &&  !item.additem3  ">

                </tr>


                <tr *ngIf="item.imgcolor4 && item.additem4 > 0">
                  <td>{{item.imgcolor4}} &nbsp;&nbsp; </td>
                  <td>{{item.additem4}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>



                <tr *ngIf="!item.imgcolor && !item.additem4 ">

                </tr>





                <tr *ngIf="item.imgcolor5 && item.additem5 > 0">
                  <td>{{item.imgcolor5}} &nbsp;&nbsp; </td>
                  <td>{{item.additem5}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>


                <tr *ngIf="!item.imgcolor5 && !item.additem5 ">

                </tr>


                <tr *ngIf="item.imgcolor6 && item.additem6 > 0">
                  <td>{{item.imgcolor6}} &nbsp;&nbsp; </td>
                  <td>{{item.additem6}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>


                <tr *ngIf="!item.imgcolor6 && !item.additem6 ">

                </tr>



                <tr *ngIf="item.imgcolor7 && item.additem7 > 0">
                  <td>{{item.imgcolor7}} &nbsp;&nbsp; </td>
                  <td>{{item.additem7}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>


                <tr *ngIf="!item.imgcolor7 && !item.additem7 ">

                </tr>



                <tr *ngIf="item.imgcolor8 && item.additem8 > 0">
                  <td>{{item.imgcolor8}} &nbsp;&nbsp;</td>
                  <td>{{item.additem8}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="!item.imgcolor8 && !item.additem8 ">

                </tr>



                <tr *ngIf="item.imgcolor9 && item.additem9  > 0">
                  <td>{{item.imgcolor9}} &nbsp;&nbsp;</td>
                  <td>{{item.additem9}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>


                <tr *ngIf="!item.imgcolor9 && !item.additem9  ">

                </tr>


                <tr *ngIf="item.imgcolor10 && item.additem10 > 0">
                  <td>{{item.imgcolor10}} &nbsp;&nbsp; </td>
                  <td>{{item.additem10}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>


                <tr *ngIf="!item.imgcolor10 && !item.additem10 ">

                </tr>


                <tr *ngIf="item.imgcolor11 && item.additem11 > 0">
                  <td>{{item.imgcolor11}} &nbsp;&nbsp; </td>
                  <td>{{item.additem11}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>


                <tr *ngIf="!item.imgcolor11 && !item.additem11 ">

                </tr>


                <tr *ngIf="item.imgcolor12 && item.additem12 > 0">
                  <td>{{item.imgcolor12}} &nbsp;&nbsp; </td>
                  <td>{{item.additem12}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="!item.imgcolor12 && !item.additem12 ">

                </tr>



                <tr *ngIf="item.imgcolor13 && item.additem13 > 0">
                  <td>{{item.imgcolor13}} &nbsp;&nbsp; </td>
                  <td>{{item.additem13}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>


                <tr *ngIf="!item.imgcolor13 && !item.additem13 ">

                </tr>




                <tr *ngIf="!item.imgcolor14 && !item.additem14 ">

                </tr>

                <tr *ngIf="item.imgcolor14 && item.additem14 > 0">
                  <td>{{item.imgcolor14}} &nbsp;&nbsp; </td>
                  <td>{{item.additem14}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>



                <tr *ngIf="item.imgcolor15 && item.additem15 > 0">
                  <td>{{item.imgcolor15}} &nbsp;&nbsp;</td>
                  <td>{{item.additem15}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>
                <tr *ngIf="item.imgcolor16 && item.additem16 > 0">
                  <td>{{item.imgcolor16}} &nbsp;&nbsp; </td>
                  <td>{{item.additem16}}</td>
                </tr>
                <tr *ngIf="item.imgcolor17 && item.additem17 > 0">
                  <td>{{item.imgcolor17}} &nbsp;&nbsp; </td>
                  <td>{{item.additem17}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>
                <tr *ngIf="item.imgcolor18 && item.additem18 > 0">
                  <td>{{item.imgcolor18}} &nbsp;&nbsp;</td>
                  <td>{{item.additem18}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="item.imgcolor19 && item.additem19 > 0">
                  <td>{{item.imgcolor19}} &nbsp;&nbsp;</td>
                  <td>{{item.additem19}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="item.imgcolor20 && item.additem20 > 0">
                  <td>{{item.imgcolor20}} &nbsp;&nbsp; </td>
                  <td>{{item.additem20}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor21 &&  item.additem21 > 0">
                  <td>{{item.imgcolor21}} &nbsp;&nbsp; </td>
                  <td>{{item.additem21}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor22 && item.additem22 > 0">
                  <td>{{item.imgcolor22}} &nbsp;&nbsp; </td>
                  <td>{{item.additem22}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor23 && item.additem23 > 0">
                  <td>{{item.imgcolor23}} &nbsp;&nbsp; </td>
                  <td>{{item.additem23}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor24 && item.additem24 > 0">
                  <td>{{item.imgcolor24}} &nbsp;&nbsp; </td>
                  <td>{{item.additem24}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor25 && item.additem25 > 0">
                  <td>{{item.imgcolor25}} &nbsp;&nbsp; </td>
                  <td>{{item.additem25}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor26 && item.additem26 > 0">
                  <td>{{item.imgcolor26}} &nbsp;&nbsp; </td>
                  <td>{{item.additem26}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor27 && item.additem27 > 0">
                  <td>{{item.imgcolor27}} &nbsp;&nbsp; </td>
                  <td>{{item.additem27}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor28 && item.additem28 > 0">
                  <td>{{item.imgcolor28}} &nbsp;&nbsp; </td>
                  <td>{{item.additem28}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor29 && item.additem29 > 0">
                  <td>{{item.imgcolor29}} &nbsp;&nbsp;</td>
                  <td>{{item.additem29}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <td *ngIf="item.imgcolor">{{item.imgcolor}}</td>
              </table>
            <td *ngIf="item.totalqty">
            </td>



            <td>{{item.totalquantity}}</td>
            <!-- <td *ngIf="item.totalquantity">{{item.totalquantity}}</td> -->
            <td *ngIf="item.totalqty"></td>
            <td *ngIf="item.totaladditem">{{item.totaladditem}}</td>


            <td *ngIf="item.wsp">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.wsp}}
            </td>
            <td *ngIf="item.totaladditem"></td>
            <td *ngIf="!item.wsp"> </td>



            <td>{{item.wsp * item.totalquantity *
              item.setofpic}}</td>
            <!-- <td *ngIf="item.wsp && item.totalquantity && item.setofpic">{{item.wsp * item.totalquantity *
              item.setofpic}}</td> -->

          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> </td>
            <td></td>

            <td> Total Pieces </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{totalqty}} </td>

            <td> Total Amount </td>
            <td> {{ totalAmount }} </td>


          </tr>





        </tfoot>

      </table>
    </div>
  </div>

</div>








<div id="Paris" class="tabcontent">
  <div class="container-fluid" style="padding: 30px 30px 100px 30px;">
    <div style="overflow-x: auto;">
      <table id="datatable" class="row-border hover mt34" *ngIf="dtRendered" datatable [dtOptions]="dtOptions" width="100%"
        style="padding: 0;">
        <thead>

          <tr>
            <th>
              <h3>#</h3>
            </th>
            <th>
              <h3>ID</h3>
            </th>
            <th>
              <h3>Image</h3>
            </th>
            <th>
              <h3>Design No</h3>
            </th>

            <th>
              <h3>Category</h3>
            </th>
            <th>
              <h3>Size</h3>
            </th>
            <th>
              <h3>Set Of</h3>
            </th>
            <th>
              <h3> Color / Quantity </h3>
            </th>


            <th>
              <h3>Total Qty</h3>
            </th>
            <th>
              <h3>WSP</h3>
            </th>
            <th>
              <h3>Total Amount</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderData; let index = index;">

            <td>
              <h3><span>{{index}}</span></h3>
            </td>

            <td *ngIf="item.id">
              <h3><span>{{item.id}}</span></h3>
            </td>
            <!-- <td *ngIf="!item.id">
              <h3><span> </span></h3>
            </td> -->



            <td *ngIf="item.topimage">

              <img src="{{imgConfig}}/{{item.topimage}}">

            </td>
            <!-- <td *ngIf="!item.topimage">

            </td> -->



            <td *ngIf="item.designnumber">
              <h3><span>{{item.designnumber}}</span></h3>
            </td>

            <td *ngIf="!item.designnumber">
              <h3><span></span></h3>
            </td>


            <td *ngIf="item.category">
              <h3><span>{{item.category}}</span></h3>
            </td>
            <td *ngIf="!item.category">
              <h3><span> </span></h3>
            </td>
            <td *ngIf="item.size">
              {{item.size}}
            </td>
            <td *ngIf="!item.size">

            </td>

            <td *ngIf="item.setofpic">{{item.setofpic}}</td>
            <td *ngIf="!item.setofpic"></td>


            <td>
              <table>
                <thead>
                  <tr>





                  </tr>
                </thead>
                <tbody>

                  <tr *ngIf="item.imgcolor0 && item.additem0 > 0">
                    <td>{{item.imgcolor0}} &nbsp;&nbsp;</td>
                    <td>{{item.additem0}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>


                  <tr *ngIf="item.imgcolor1 &&  item.additem1 > 0">
                    <td>{{item.imgcolor1}} &nbsp;&nbsp; </td>
                    <td>{{item.additem1}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>








                  <tr *ngIf="item.imgcolor2 && item.additem2 > 0">
                    <td>{{item.imgcolor2}} &nbsp;&nbsp; </td>
                    <td>{{item.additem2}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>








                  <tr *ngIf="item.imgcolor3 &&  item.additem3  > 0">
                    <td>{{item.imgcolor3}} &nbsp;&nbsp; </td>
                    <td>{{item.additem3}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>






                  <tr *ngIf="item.imgcolor4 && item.additem4 > 0">
                    <td>{{item.imgcolor4}} &nbsp;&nbsp; </td>
                    <td>{{item.additem4}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>





                  <tr *ngIf="item.imgcolor5 && item.additem5 > 0">
                    <td>{{item.imgcolor5}} &nbsp;&nbsp; </td>
                    <td>{{item.additem5}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>






                  <tr *ngIf="item.imgcolor6 && item.additem6 > 0">
                    <td>{{item.imgcolor6}} &nbsp;&nbsp; </td>
                    <td>{{item.additem6}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>




                  <tr *ngIf="item.imgcolor7 && item.additem7 > 0">
                    <td>{{item.imgcolor7}} &nbsp;&nbsp; </td>
                    <td>{{item.additem7}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                  </tr>



                  <tr *ngIf="item.imgcolor8 && item.additem8 > 0">
                    <td>{{item.imgcolor8}} &nbsp;&nbsp; </td>
                    <td>{{item.additem8}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                  </tr>
                  <tr *ngIf="item.imgcolor9 && item.additem9  > 0">
                    <td>{{item.imgcolor9}} &nbsp;&nbsp; </td>
                    <td>{{item.additem9}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>

                  <tr *ngIf="item.imgcolor10 && item.additem10 > 0">
                    <td>{{item.imgcolor10}} &nbsp;&nbsp; </td>
                    <td>{{item.additem10}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor11 &&  item.additem11 > 0">
                    <td>{{item.imgcolor11}} &nbsp;&nbsp; </td>
                    <td>{{item.additem11}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor12 && item.additem12 > 0">
                    <td>{{item.imgcolor12}} &nbsp;&nbsp; </td>
                    <td>{{item.additem12}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor13 && item.additem13 > 0">
                    <td>{{item.imgcolor13}} &nbsp;&nbsp; </td>
                    <td>{{item.additem13}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor14 && item.additem14 > 0">
                    <td>{{item.imgcolor14}} &nbsp;&nbsp; </td>
                    <td>{{item.additem14}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor15 && item.additem15 > 0">
                    <td>{{item.imgcolor15}} &nbsp;&nbsp; </td>
                    <td>{{item.additem15}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor16 &&  item.additem16 > 0">
                    <td>{{item.imgcolor16}} &nbsp;&nbsp; </td>
                    <td>{{item.additem16}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor17 && item.additem17 > 0">
                    <td>{{item.imgcolor17}} &nbsp;&nbsp; </td>
                    <td>{{item.additem17}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor18 && item.additem18 > 0">
                    <td>{{item.imgcolor18}} &nbsp;&nbsp;</td>
                    <td>{{item.additem18}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>

                  <tr *ngIf="item.imgcolor19 && item.additem19 > 0">
                    <td>{{item.imgcolor19}} &nbsp;&nbsp; </td>
                    <td>{{item.additem19}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>

                  <tr *ngIf="item.imgcolor20 && item.additem20 > 0">
                    <td>{{item.imgcolor20}} &nbsp;&nbsp; </td>
                    <td>{{item.additem20}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor21 && item.additem21 > 0">
                    <td>{{item.imgcolor21}} &nbsp;&nbsp; </td>
                    <td>{{item.additem21}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor22 && item.additem22 > 0">
                    <td>{{item.imgcolor22}} &nbsp;&nbsp;</td>
                    <td>{{item.additem22}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor23 && item.additem23 > 0">
                    <td>{{item.imgcolor23}} &nbsp;&nbsp;</td>
                    <td>{{item.additem23}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor24 && item.additem24 > 0">
                    <td>{{item.imgcolor24}} &nbsp;&nbsp; </td>
                    <td>{{item.additem24}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor25 && item.additem25 > 0">
                    <td>{{item.imgcolor25}} &nbsp;&nbsp; </td>
                    <td>{{item.additem25}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor26 && item.additem26 > 0">
                    <td>{{item.imgcolor26}} &nbsp;&nbsp; </td>
                    <td>{{item.additem26}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor27 && item.additem27 > 0">
                    <td>{{item.imgcolor27}} &nbsp;&nbsp; </td>
                    <td>{{item.additem27}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor28 && item.additem28 > 0">
                    <td>{{item.imgcolor28}} &nbsp;&nbsp; </td>
                    <td>{{item.additem28}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                  <tr *ngIf="item.imgcolor29 && item.additem29 > 0">
                    <td>{{item.imgcolor29}} &nbsp;&nbsp; </td>
                    <td>{{item.additem29}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                  </tr>
                </tbody>
                <td *ngIf="item.imgcolor">{{item.imgcolor}}</td>

              </table>

            <td *ngIf="item.totalqty">


            </td>





            <td>{{item.totalquantity}}</td>
            <!-- <td *ngIf="item.totalquantity">{{item.totalquantity}}</td> -->
            <td *ngIf="item.totalqty"></td>
            <td *ngIf="item.totaladditem">{{item.totaladditem}}</td>


            <td *ngIf="item.wsp">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.wsp}}
            </td>
            <td *ngIf="item.totaladditem"> </td>
            <td *ngIf="!item.wsp"> </td>


            <td>{{item.wsp * item.totalquantity *
              item.setofpic}}</td>
<!-- 
            <td *ngIf="item.wsp && item.totalquantity && item.setofpic">{{item.wsp * item.totalquantity *
              item.setofpic}}</td> -->






          </tr>
        </tbody>












        <tfoot>
          <tr>
            <td> - </td>

            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> </td>
            <td></td>

            <td> Total Pieces </td>
            <td> {{totalqty}} </td>

            <td> Total Amount </td>
            <td> {{ totalAmount }} </td>


          </tr>


        </tfoot>


      </table>
    </div>
  </div>

</div>




<div id="Tokyo" class="tabcontent" style="display: block !important;">

  <div class="container-fluid" style="padding: 30px 30px 100px 30px;">
    <div style="overflow-x: auto;">
      <table id="datatable" class="row-border hover mt34" *ngIf="dtRendered" datatable [dtOptions]="dtOptions" width="100%"
        style="padding: 0;">
        <thead>

          <tr>
            <th>
              <h3>#</h3>
            </th>
            <th>
              <h3>ID</h3>
            </th>
            <th>
              <h3>Image</h3>
            </th>
            <th>
              <h3>Design No</h3>
            </th>
            <th>
              <h3>Shop Name </h3>
            </th>
            <th>
              <h3>Category</h3>
            </th>
            <th>
              <h3>Size</h3>
            </th>
            <th>
              <h3>Set Of</h3>
            </th>
            <th>
              <h3>Color / Quantity </h3>
            </th>
            <th>
              <h3>Total Qty</h3>
            </th>
            <th>
              <h3>WSP</h3>
            </th>
            <th>
              <h3>Total Amount</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderData; let index = index;">

            <td>
              <h3><span>{{index}}</span></h3>
            </td>

            <td *ngIf="item.id">
              <h3><span>{{item.id}}</span></h3>
            </td>
            <!-- <td *ngIf="!item.id"> </td> -->

            <td *ngIf="item.topimage"> <img src="{{imgConfig}}/{{item.topimage}}"> </td>
            <!-- <td *ngIf="!item.topimage"> </td> -->



            <td *ngIf="item.designnumber">
              <h3><span>{{item.designnumber}}</span></h3>
            </td>
            <td *ngIf="!item.designnumber">
              <h3><span>{{item.designnumber}}</span></h3>
            </td>



            <td *ngIf="item.usermobile  ">
              <h3> {{ getUserByMobile(item.usermobile) }}</h3>
            </td>


            <td *ngIf="!item.usermobile"> </td>



            <td *ngIf="item.category">
              <h3><span>{{item.category}}</span></h3>
            </td>
            <td *ngIf="!item.category"> </td>


            <td *ngIf="item.size">{{item.size}}</td>
            <td *ngIf="!item.size"></td>

            <td *ngIf="item.setofpic">{{item.setofpic}}</td>
            <td *ngIf="!item.setofpic"> </td>

            <td>
              <table>
                <tr>

                </tr>

                <tr *ngIf="item.imgcolor0 && item.additem0 > 0">
                  <td> &nbsp;&nbsp; {{item.imgcolor0}} &nbsp;&nbsp;</td>
                  <td>&nbsp;&nbsp; {{item.additem0}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>





                <tr *ngIf="item.imgcolor1 &&  item.additem1 > 0">
                  <td>{{item.imgcolor1}} &nbsp;&nbsp;</td>
                  <td>{{item.additem1}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>





                <tr *ngIf="item.imgcolor2 && item.additem2 > 0">
                  <td>{{item.imgcolor2}} &nbsp;&nbsp;</td>
                  <td>{{item.additem2}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>






                <tr *ngIf="item.imgcolor3 &&  item.additem3  > 0">
                  <td>{{item.imgcolor3}} &nbsp;&nbsp;</td>
                  <td>{{item.additem3}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>



                <tr *ngIf="item.imgcolor4 && item.additem4 > 0">
                  <td>{{item.imgcolor4}} &nbsp;&nbsp; </td>
                  <td>{{item.additem4}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>








                <tr *ngIf="item.imgcolor5 && item.additem5 > 0">
                  <td>{{item.imgcolor5}} &nbsp;&nbsp; </td>
                  <td>{{item.additem5}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>





                <tr *ngIf="item.imgcolor6 && item.additem6 > 0">
                  <td>{{item.imgcolor6}} &nbsp;&nbsp; </td>
                  <td>{{item.additem6}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>






                <tr *ngIf="item.imgcolor7 && item.additem7 > 0">
                  <td>{{item.imgcolor7}} &nbsp;&nbsp; </td>
                  <td>{{item.additem7}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>






                <tr *ngIf="item.imgcolor8 && item.additem8 > 0">
                  <td>{{item.imgcolor8}} &nbsp;&nbsp;</td>
                  <td>{{item.additem8}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>




                <tr *ngIf="item.imgcolor9 && item.additem9  > 0">
                  <td>{{item.imgcolor9}} &nbsp;&nbsp;</td>
                  <td>{{item.additem9}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>




                <tr *ngIf="item.imgcolor10 && item.additem10 > 0">
                  <td>{{item.imgcolor10}} &nbsp;&nbsp; </td>
                  <td>{{item.additem10}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>




                <tr *ngIf="item.imgcolor11 && item.additem11 > 0">
                  <td>{{item.imgcolor11}} &nbsp;&nbsp; </td>
                  <td>{{item.additem11}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>





                <tr *ngIf="item.imgcolor12 && item.additem12 > 0">
                  <td>{{item.imgcolor12}} &nbsp;&nbsp; </td>
                  <td>{{item.additem12}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>




                <tr *ngIf="item.imgcolor13 && item.additem13 > 0">
                  <td>{{item.imgcolor13}} &nbsp;&nbsp; </td>
                  <td>{{item.additem13}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>








                <tr *ngIf="item.imgcolor14 && item.additem14 > 0">
                  <td>{{item.imgcolor14}} &nbsp;&nbsp; </td>
                  <td>{{item.additem14}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>


                <tr *ngIf="item.imgcolor15 && item.additem15 > 0">
                  <td>{{item.imgcolor15}} &nbsp;&nbsp;</td>
                  <td>{{item.additem15}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="item.imgcolor16 && item.additem16 > 0">
                  <td>{{item.imgcolor16}} &nbsp;&nbsp; </td>
                  <td>{{item.additem16}}</td>
                </tr>


                <tr *ngIf="item.imgcolor17 && item.additem17 > 0">
                  <td>{{item.imgcolor17}} &nbsp;&nbsp; </td>
                  <td>{{item.additem17}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>
                <tr *ngIf="item.imgcolor18 && item.additem18 > 0">
                  <td>{{item.imgcolor18}} &nbsp;&nbsp;</td>
                  <td>{{item.additem18}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="item.imgcolor19 && item.additem19 > 0">
                  <td>{{item.imgcolor19}} &nbsp;&nbsp;</td>
                  <td>{{item.additem19}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <tr *ngIf="item.imgcolor20 && item.additem20 > 0">
                  <td>{{item.imgcolor20}} &nbsp;&nbsp; </td>
                  <td>{{item.additem20}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor21 &&  item.additem21 > 0">
                  <td>{{item.imgcolor21}} &nbsp;&nbsp; </td>
                  <td>{{item.additem21}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor22 && item.additem22 > 0">
                  <td>{{item.imgcolor22}} &nbsp;&nbsp; </td>
                  <td>{{item.additem22}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor23 && item.additem23 > 0">
                  <td>{{item.imgcolor23}} &nbsp;&nbsp; </td>
                  <td>{{item.additem23}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor24 && item.additem24 > 0">
                  <td>{{item.imgcolor24}} &nbsp;&nbsp; </td>
                  <td>{{item.additem24}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor25 && item.additem25 > 0">
                  <td>{{item.imgcolor25}} &nbsp;&nbsp; </td>
                  <td>{{item.additem25}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor26 && item.additem26 > 0">
                  <td>{{item.imgcolor26}} &nbsp;&nbsp; </td>
                  <td>{{item.additem26}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor27 && item.additem27 > 0">
                  <td>{{item.imgcolor27}} &nbsp;&nbsp; </td>
                  <td>{{item.additem27}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor28 && item.additem28 > 0">
                  <td>{{item.imgcolor28}} &nbsp;&nbsp; </td>
                  <td>{{item.additem28}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span> </td>
                </tr>
                <tr *ngIf="item.imgcolor29 && item.additem29 > 0">
                  <td>{{item.imgcolor29}} &nbsp;&nbsp;</td>
                  <td>{{item.additem29}} <span style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp; </span></td>
                </tr>

                <td *ngIf="item.imgcolor">{{item.imgcolor}}</td>
              </table>
            <td *ngIf="item.totalqty">
            </td>


            <td>{{item.totalquantity}}</td>
            <!-- <td *ngIf="item.totalquantity">{{item.totalquantity}}</td> -->
            <td *ngIf="item.totalqty"></td>
            <td *ngIf="item.totaladditem">{{item.totaladditem}}</td>


            <td *ngIf="item.wsp">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.wsp}}
            </td>
            <td *ngIf="item.totaladditem"></td>
            <td *ngIf="!item.wsp"> </td>



            <td>{{item.wsp * item.totalquantity *
              item.setofpic}}</td>
            <!-- <td *ngIf="item.wsp && item.totalquantity && item.setofpic">{{item.wsp * item.totalquantity *
              item.setofpic}}</td> -->

          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> </td>
            <td></td>

            <td> Total Pieces </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{totalqty}} </td>

            <td> Total Amount </td>
            <td> {{ totalAmount }} </td>


          </tr>





        </tfoot>

      </table>
    </div>
  </div>

</div>
<app-merchantfooter></app-merchantfooter>