<app-vendorheader></app-vendorheader>


<div class="container-fluid pd">
  <h2>Log Data</h2>
  <div style="overflow-y: scroll;">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th> Sr. No</th>
        <th>Action ID</th>
        <th>Action Type</th>
        <th>Remarks</th>
        <th>Vendor Mobile</th>
        <th>Vendor Name</th>
        <th> Date and Time </th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of actionHistoryData; let i =index;">

        <td> {{i}} </td>
        <td> {{ actionHistoryData.length - i  }} </td>
        <td> {{item.id}} </td>
        <td> {{item.actiontype}} </td>
        <td> {{item.remarks}} </td>
        <td> {{item.vendormobile}} </td>
        <td> {{item.vendorname}} </td>
        <td>{{ item.timestamp | date:'short' }}</td>


      </tr>

    </tbody>
  </table>
</div>
</div>

<app-vendorfooter></app-vendorfooter>