.row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
::selection{
  background: #c51724;
  color: #fff;
}
.row1{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
.column img{
  width: 100%;
  height: 300px;
}
.row h3{
    font-family: lato;
    font-size: 17px;
    color: #c51724;
    margin-bottom:7px;
}
.row1 h3{
  font-family: lato;
  font-size: 17px;
  color: #c51724;
  margin-bottom:-14px;
}

.row h3:last-child {
    margin-bottom:20px;
  }
  .column h3{
    border: 1px solid #c51724;
    padding: 3px 10px;
    margin: 1%;
  }
  .column{
    margin: 2%;
  }
  .btn{
    color: #fff;
    background: #c51724;
    border: none;
    padding: 10px 37px;
    font-family: 'Lato';
    font-size: 18px;
    border-radius: 10px;
  }
  .product {
    margin-bottom: 20px;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quantity-button {
    width: 30px;
    height: 30px;
    background-color: #e0e0e0;
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }

  .quantity-input {
    width: 50px;
    height: 30px;
    margin: 0 10px;
    text-align: center;
  }
  .row5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
   
  }
  ul{
    display: inline;
  }
  ul li{
    list-style: none;
    padding: 20px 10px;
  }
  .back{
    background: #c51724;
    padding: 20px 40px;
  }
  .logo{
    width: 200px;
  }
  .productimg{
    width: 100%;
    height: 500px;
  }
  .row7{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    padding: 10px;
  }
  
  .toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
  }
  
  .items-container {
    background-color: #c51724;
    padding: 10px;
    position: absolute;
    top: 100px; /* Adjust this value to change the distance from the header */
    right: 70px; /* Adjust this value to change the distance from the right edge */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .items-container ul {
    list-style: none;
    padding: 0;
  }
  
  .items-container li {
    margin-bottom: 5px;
  }
  
  .items-container li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .items-container li a img {
    margin-right: 10px;
  }
  .remark{
    padding: 7px;
    border-radius: 13px;
  }
  























@media only screen and (max-width: 600px) {
   .row img{
    width:100%;
    }
    .column img{
      width: 100%;
      height: 300px;
    }
    .column{
        margin: 1%;
    }
    .row{
      display: grid;     
  }
  .back{
    background: #c51724;
    padding: 5px 0px;
}
.logo{
    width: 140px;
}
.footerimage{
    width: 38px;
  }
  .row5{
    padding: 10px 20px;
      justify-content: space-between;
  }
  .hidden {
    display: none;
  }
  ul li{
    list-style: none;
    padding: 15px 10px
  }
  .productimg{
    width: 100%;
    height: 350px;
  }
  .items-container{
    top: 76px;
    right: 20px;
  }
  }
  