<!-- Google Maps API -->


<div class="container pt-5 pb-5">
  <div class="row">

    <!-- FORM SECTION -->
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="card shadow-sm p-4">
        <h4 class="mb-4">Add Pickup Point</h4>
        <form [formGroup]="formsize" (ngSubmit)="onSubmit()">

          <div class="form-group mb-3">
            <label>Pickup Point Name</label>
            <input type="text" formControlName="pickupname" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label>Pickup Distance</label>
            <input type="text" formControlName="pickupdistance" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label>Pickup Status</label>
            <input type="text" formControlName="pickupstatus" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label>Pickup Duration</label>
            <input type="time" formControlName="pickupduration" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label>Dropoff Duration</label>
            <input type="time" formControlName="dropoffduration" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label>Latitude</label>
            <input type="number" formControlName="latitude" class="form-control" readonly>
          </div>

          <div class="form-group mb-3">
            <label>Longitude</label>
            <input type="number" formControlName="longitude" class="form-control" readonly>
          </div>

          <div class="form-group mb-3">
            <input type="submit" [disabled]="!formsize.valid" value="Add Pickup Point" class="btn btn-primary w-100">
          </div>

        </form>
      </div>
    </div>

    <!-- LIST & MAP SECTION -->
    <div class="col-lg-6 col-md-12">

      <!-- Pickup Points Table -->
      <div class="card shadow-sm mb-4 p-3">
        <h5 class="mb-3">List of Pickup Points</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Name</th>
                <th>Distance</th>
                <th>Status</th>
                <th>Pickup Duration</th>
                <th>Dropoff Duration</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sizes">
                <td>{{item.pickupname}}</td>
                <td>{{item.pickupdistance}}</td>
                <td>{{item.pickupstatus}}</td>
                <td>{{item.pickupduration}}</td>
                <td>{{item.dropoffduration}}</td>
                <td>{{item.latitude}}</td>
                <td>{{item.longitude}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Search & Map -->
      <div class="card shadow-sm p-3">
        <input
          #searchBox
          type="text"
          placeholder="Search location"
          class="form-control mb-3"
        />
        <div id="map" class="map-container"></div>
      </div>

    </div>
  </div>
</div>
