<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="card-title">New Users</h4>

      <a href="javascript:void(0)" class="btn btn-sm btn-primary">
        <i class="bx bx-plus me-1"></i>Add New User
      </a>
    </div>
  </div>
  <!-- end card body -->

  <div class="table-responsive table-centered">
    <table class="table mb-0">
      <thead class="bg-light bg-opacity-50">
        <th class="border-0 py-2">Date</th>
        <th class="border-0 py-2">User</th>
        <th class="border-0 py-2">Account</th>
        <th class="border-0 py-2">Username</th>
      </thead>
      <tbody>
        <tr>
          <td>24 April, 2024</td>
          <td>
            <img
              src="assets/images/users/avatar-2.jpg"
              alt="avatar-2"
              class="img-fluid avatar-xs rounded-circle"
            />
            <span class="align-middle ms-1">Dan Adrick</span>
          </td>
          <td><span class="badge badge-soft-success">Verified</span></td>
          <td>&#64;omions</td>
        </tr>
        <tr>
          <td>24 April, 2024</td>
          <td>
            <img
              src="assets/images/users/avatar-3.jpg"
              alt="avatar-2"
              class="img-fluid avatar-xs rounded-circle"
            />
            <span class="align-middle ms-1">Daniel Olsen</span>
          </td>
          <td><span class="badge badge-soft-success">Verified</span></td>
          <td>&#64;alliates</td>
        </tr>
        <tr>
          <td>20 April, 2024</td>
          <td>
            <img
              src="assets/images/users/avatar-4.jpg"
              alt="avatar-2"
              class="img-fluid avatar-xs rounded-circle"
            />
            <span class="align-middle ms-1">Jack Roldan</span>
          </td>
          <td><span class="badge badge-soft-warning">Pending</span></td>
          <td>&#64;griys</td>
        </tr>
        <tr>
          <td>18 April, 2024</td>
          <td>
            <img
              src="assets/images/users/avatar-5.jpg"
              alt="avatar-2"
              class="img-fluid avatar-xs rounded-circle"
            />
            <span class="align-middle ms-1">Betty Cox</span>
          </td>
          <td><span class="badge badge-soft-success">Verified</span></td>
          <td>&#64;reffon</td>
        </tr>
        <tr>
          <td>18 April, 2024</td>
          <td>
            <img
              src="assets/images/users/avatar-6.jpg"
              alt="avatar-2"
              class="img-fluid avatar-xs rounded-circle"
            />
            <span class="align-middle ms-1">Carlos Johnson</span>
          </td>
          <td><span class="badge badge-soft-danger">Blocked</span></td>
          <td>&#64;bebo</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- table responsive -->

  <div
    class="align-items-center justify-content-between row g-0 text-center text-sm-start p-3 border-top"
  >
    <div class="col-sm">
      <div class="text-muted">
        Showing <span class="fw-semibold">5</span> of
        <span class="fw-semibold">587</span> users
      </div>
    </div>
    <div class="col-sm-auto mt-3 mt-sm-0">
      <ul class="pagination pagination-rounded m-0">
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link"
            ><i class="bx bx-left-arrow-alt"></i
          ></a>
        </li>
        <li class="page-item active">
          <a href="javascript:void(0);" class="page-link">1</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link">2</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link">3</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0);" class="page-link"
            ><i class="bx bx-right-arrow-alt"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end card-->
