<div class="container-fluid main display">
    <div class="myrow mydp" style="display:none">
        <div class=""><a routerLink="/userdetails.component"><img src="assets/view user-01-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/vendordetails.component"><img src="assets/GET ALL VENDORS-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/allvendor.component"><img src="assets/all vendors users-01-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/addvendor.component"><img src="assets/add vendor-merchant-01.svg" class="bimg"></a></div>
       
      </div>
      <div class="myrow" style="display:none">
       

        <div class=""><a routerLink="/alladminmerchant.component"><img src="assets/all merhcant users2-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/getalltransationdata.component"><img src="assets/transaction data2-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/requests.component"><img src="assets/requests.svg" class="bimg"></a></div>
       
       
      </div>
   
    
</div>
<div class="container-fluid main none">
    <div class="myrow1 mydp" style="display:none">
        <div class=""><a routerLink="/userdetails.component"><img src="assets/view user-01-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/vendordetails.component"><img src="assets/GET ALL VENDORS-03-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/allvendor.component"><img src="assets/all vendors users-01-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/addvendor.component"><img src="assets/add vendor-merchant-01.svg" class="bimg"></a></div>
      </div>
      <div class="myrow1">
       
        
        
    <!--
        
        <div class=""><a routerLink="/alladminmerchant.component"><img src="assets/all merhcant users2-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/getalltransationdata.component"><img src="assets/transaction data2-01.svg" class="bimg"></a></div>
        <div class=""><a routerLink="/requests.component"><img src="assets/requests.svg" class="bimg"></a></div>
      -->
       
      </div>
   
    
</div>