body{
  font-family: lato !important;
}
::selection{
background: #c51724;
color: #fff;
}

.row{
  
  justify-content: center;
  text-align: center;  
}

.btn{
  color: #fff;
  background: #c51724;
  border: 1px solid #fff;
  padding: 11px 25px;
  font-size: 17px;
  border-radius: 13px;
  cursor: pointer;
}
.btn1{
  color: #fff;
  background: #c51724;
  border: 1px solid #fff;
  padding: 11px 14px;
  font-size: 17px;
  border-radius: 13px;
  cursor: pointer;
}
.btn2{
  color: #fff;
  background: #c51724;
  border: 1px solid #fff;
  padding: 11px 37px;
  font-size: 17px;
  border-radius: 13px;
  cursor: pointer;
}
.mb-3{
  margin-bottom: 20px;
}
h3{
  font-family: 'Lato';
  font-size: 18px;
  color: #000;
}
.btn6 {
  color: #fff;
  background: #c51724;
  border: 1px solid #fff;
  padding: 11px 46px;
  font-size: 17px;
  border-radius: 13px;
  cursor: pointer;
}

.fluid{
padding:0px 0px 100px 90px;
}
.center{
text-align: left;
}
.secbtn{
margin-left: 0%;
}
.main{
padding-top: 100px;
padding-bottom: 100px;
}
.mydp{
padding-top: 0%;
padding-bottom: 3%;
}
.btn60{
color: #fff;
background: #c51724;
border: 1px solid #fff;
padding: 11px 13px;
font-size: 17px;
border-radius: 13px;
cursor: pointer;
}
.btn601{
color: #fff;
  background: #c51724;
  border: 1px solid #fff;
  padding: 11px 29px;
  font-size: 17px;
  border-radius: 13px;
  cursor: pointer;
}
.btn602{
color: #fff;
  background: #c51724;
  border: 1px solid #fff;
  padding: 11px 47px;
  font-size: 17px;
  border-radius: 13px;
  cursor: pointer;
}

.bimg{
padding: 30px;
border: 1px solid red;
margin-bottom: 25px;
width:58%;
}
.myrow{
column-count: 4;
column-gap: 20px;
text-align: center;
}
.myrow1{
column-count: 6;
column-gap: 20px;
text-align: center;
}
.display{
display:block;
}
.none{
display:none;
}
.bimg:hover{
box-shadow: 0px 0px 5px 0px #e5e5e5;
}




























@media only screen and (max-width: 600px) {
  .main {
      justify-content: center;
      align-items: center;
      display: grid;
      padding-bottom: 140px;
      padding-top: 0px;
  }
  .btn601{
    padding: 11px 40px;
  }
  .btn60{
    padding: 11px 7px;
    margin-bottom: 12px;
  }
  .btn602{
    padding: 11px 59px;
    margin-top: -10px;
  }
  .btn1 {
    
    padding: 11px 24px;
    margin-bottom: 12px;
}
.mydp{
  padding-top: 43%;
  padding-bottom: .5%;
}
.btn2 {
  
  padding: 11px 44px;
  margin-bottom: 12px;
  
}
.fluid{
padding:40px 0px 100px 0px;
}
.btn6 {

padding: 11px 53px;
margin-bottom: 12px;
}
.btn{
padding: 11px 39px;
margin-bottom: 12px;
}
.center{
text-align: center;
}
.secbtn{
margin-left: 0%;
}
.bimg{
width:100%;
}
.myrow{
column-count: 2;
column-gap: 20px;
}
.myrow1{
column-count: 2;
column-gap: 20px;
margin: 0px 16px;
}
.display{
display:none;
}
.none{
display:block;
}


}
