

<div class="container-fluid main">
  <div class="row mt-5 mb-5">
  <div class="col">
      <a routerLink="/venderaddproduct.component"><button type="button" class="btn">Add Products</button></a>
  </div>
  <div class="col"><a routerLink="/vendorproducts.component"><button type="button" class="btn1">Products Overview</button></a></div>
  <div class="col"><a routerLink="/vendoruserregister.component"><button type="button" class="btn2">Register User</button></a></div>
  <div class="col"><a routerLink="/vendoruserdetails.component"><button type="button" class="btn6">View Users</button></a></div>
 
</div>
<div class="row mt-5">
  <div class="col"><a routerLink="/getalltransationdata.component"><button type="button" class="btn6">Get All Transaction Data</button></a></div>
  <div class="col"><a routerLink="/vendordetails.component"><button type="button" class="btn6 secbtn">Get All Vendors</button></a></div>

</div>
</div>




