  <div class="container-fluid back" id="mainhead" style="display:none">
  <div class="row5">
    <div class="col1">
    <a routerLink="/afterlogin.component"><img src="assets/Group 801.svg" class="logo"></a>
    </div>
    <div class="header">
      <button class="toggle-button" (click)="toggleItems()">
        <img [src]="showItems ? 'assets/close.png' : 'assets/menu.png'" alt="Toggle Items">
      </button>
    </div>
    
    <div class="items-container" *ngIf="showItems">
      <ul>
        <li><a href="tel:9811144961"><img src="assets/phone.svg" width="20px;"></a></li>
        <li><a href="https://wa.link/da6uyh"><img src="assets/whatsapp.svg" width="20px;"></a></li>
        <li><a href="#/logout.component"><img src="assets/Logout.svg" width="20px;"></a></li>
      </ul>
    </div>

  </div>
</div>

<app-user-header></app-user-header>
<div class="container-fluid pd">
      <div style="overflow-x: auto;">      
    <table>
      <tr>
        <th><h3>ID</h3></th>
      <th><h3>Image</h3></th>
      <th><h3>Design/No</h3></th>
      <th class="ct2"><h3>Category</h3> </th>
      <th><h3>Size</h3></th>
      <th><h3>Set Of</h3></th>
      <th class="ct2"><h3>Color</h3></th>
      <th><h3>Remarks</h3></th>
      <th><h3>Total QTY</h3></th>
      <th><h3>WSP</h3></th>
      <th><h3>Total Amount</h3></th>
  </tr>
  <tr *ngFor="let item of productData">

    <td>
      <h3><span>{{item.id}}</span></h3>
    </td>

    <td>

      <img src="{{imgConfig}}/{{item.topimage}}">

    </td>
    <td>
      <h3><span>{{item.designnumber}}</span></h3>
    </td>
    <td>
      <h3><span>{{item.category}}</span></h3>
    </td>
    <td>{{item.size}}</td>
    <td>{{item.setofpic}}</td>
    <td>
  <tr>
    <th>Color</th>
    <th>Quantity</th>
  </tr>
  <tr *ngIf="item.imgcolor0 || item.additem0 > 0">
    <td>{{item.imgcolor0}}</td>
    <td>{{item.additem0}}</td>
  </tr>
  <tr *ngIf="item.imgcolor1 ||  item.additem1 > 0">
    <td>{{item.imgcolor1}}</td>
    <td>{{item.additem1}}</td>
  </tr>
  <tr *ngIf="item.imgcolor2 || item.additem2 > 0" >
    <td>{{item.imgcolor2}}</td>
    <td>{{item.additem2}}</td>
  </tr>
  <tr *ngIf="item.imgcolor3 ||  item.additem3  > 0">
    <td>{{item.imgcolor3}}</td>
    <td>{{item.additem3}}</td>
  </tr>
  <tr *ngIf="item.imgcolor4 || item.additem4 > 0">
    <td>{{item.imgcolor4}}</td>
    <td>{{item.additem4}}</td>
  </tr>
  <tr *ngIf="item.imgcolor5 || item.additem5 > 0">
    <td>{{item.imgcolor5}}</td>
    <td>{{item.additem5}}</td>
  </tr>
  <tr *ngIf="item.imgcolor6 || item.additem6 > 0">
    <td>{{item.imgcolor6}}</td>
    <td>{{item.additem6}}</td>
  </tr>
  <tr *ngIf="item.imgcolor7 || item.additem7 > 0">
    <td>{{item.imgcolor7}}</td>
    <td>{{item.additem7}}</td>
  </tr>
  <tr *ngIf="item.imgcolor8 || item.additem8 > 0">
    <td>{{item.imgcolor8}}</td>
    <td>{{item.additem8}}</td>
  </tr>
  <tr *ngIf="item.imgcolor9 || item.additem9  > 0">
    <td>{{item.imgcolor9}}</td>
    <td>{{item.additem9}}</td>
  </tr>

  <tr *ngIf="item.imgcolor10 && item.additem10 > 0">
    <td>{{item.imgcolor10}}</td>
    <td>{{item.additem10}}</td>
  </tr>
  <tr *ngIf="item.imgcolor11 || item.additem11 > 0">
    <td>{{item.imgcolor11}}</td>
    <td>{{item.additem11}}</td>
  </tr>
  <tr *ngIf="item.imgcolor12 || item.additem12 > 0">
    <td>{{item.imgcolor12}}</td>
    <td>{{item.additem12}}</td>
  </tr>
  <tr *ngIf="item.imgcolor13 || item.additem13 > 0">
    <td>{{item.imgcolor13}}</td>
    <td>{{item.additem13}}</td>
  </tr>
  <tr *ngIf="item.imgcolor14 || item.additem14 > 0">
    <td>{{item.imgcolor14}}</td>
    <td>{{item.additem14}}</td>
  </tr>
  <tr *ngIf="item.imgcolor15 || item.additem15 > 0">
    <td>{{item.imgcolor15}}</td>
    <td>{{item.additem15}}</td>
  </tr>
  <tr *ngIf="item.imgcolor16 || item.additem16 > 0">
    <td>{{item.imgcolor16}}</td>
    <td>{{item.additem16}}</td>
  </tr>
  <tr *ngIf="item.imgcolor17 || item.additem17 > 0">
    <td>{{item.imgcolor17}}</td>
    <td>{{item.additem17}}</td>
  </tr>
  <tr *ngIf="item.imgcolor18 || item.additem18 > 0">
    <td>{{item.imgcolor18}}</td>
    <td>{{item.additem18}}</td>
  </tr>

  <tr *ngIf="item.imgcolor19 || item.additem19 > 0">
    <td>{{item.imgcolor19}}</td>
    <td>{{item.additem19}}</td>
  </tr>

  <tr *ngIf="item.imgcolor20 || item.additem20 > 0">
    <td>{{item.imgcolor20}}</td>
    <td>{{item.additem20}}</td>
  </tr>
  <tr *ngIf="item.imgcolor21 || item.additem21 > 0">
    <td>{{item.imgcolor21}}</td>
    <td>{{item.additem21}}</td>
  </tr>
  <tr *ngIf="item.imgcolor22 || item.additem22 > 0">
    <td>{{item.imgcolor22}}</td>
    <td>{{item.additem22}}</td>
  </tr>
  <tr *ngIf="item.imgcolor23 || item.additem23 > 0">
    <td>{{item.imgcolor23}}</td>
    <td>{{item.additem23}}</td>
  </tr>
  <tr *ngIf="item.imgcolor24 || item.additem24 > 0">
    <td>{{item.imgcolor24}}</td>
    <td>{{item.additem24}}</td>
  </tr>
  <tr *ngIf="item.imgcolor25 || item.additem25 > 0">
    <td>{{item.imgcolor25}}</td>
    <td>{{item.additem25}}</td>
  </tr>
  <tr *ngIf="item.imgcolor26 || item.additem26 > 0">
    <td>{{item.imgcolor26}}</td>
    <td>{{item.additem26}}</td>
  </tr>
  <tr *ngIf="item.imgcolor27 || item.additem27 > 0">
    <td>{{item.imgcolor27}}</td>
    <td>{{item.additem27}}</td>
  </tr>
  <tr *ngIf="item.imgcolor28 || item.additem28 > 0">
    <td>{{item.imgcolor28}}</td>
    <td>{{item.additem28}}</td>
  </tr>
  <tr *ngIf="item.imgcolor29 || item.additem29 > 0">
    <td>{{item.imgcolor29}}</td>
    <td>{{item.additem29}}</td>
  </tr>
 
  </td>
  <td>{{item.remarks}}</td>
  <td>{{item.totalquantity}}</td>
  <td>{{item.wsp}}</td>
  <td>{{item.wsp * item.totalquantity * item.setofpic}}</td>
  </tr>

  <tr >
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> Total Pieces </td>
    <td> <span>  {{totalqty}} </span></td>
    <td> Total Amount </td>
    <td> <span> {{ totalAmount }}</span></td>
  </tr>
  </table>
</div>
  </div>
  




  