.btn {
    margin-top: 15px;
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 15px 78px;
    font-size: 19px;
    border-radius: 13px;
    cursor: pointer;
}

.inp {
    width: 100%;
    height: 45%;
    outline: none;
    padding: 0px 10px;
}

.paddingtop {
    padding-top: 35%;
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid red;
    width: 100%;
    height: 25vh;
    text-align: center;
    margin-top: 17%;
}

th {
    font-size: 20px;
    padding: 10px 10px;
}
td {
    font-size: 20px;
    padding: 7px 10px;
}
.pbbb{
    padding-bottom: 100px;
}